[2016-06-15 16:45] AlexChien opened #6 "CentOS: Unhandled Exception"
Trying to launch a miner node in CentOS 7.2 following wiki guid, but failed with exception:

[code]

Seems LevelDB related, please advise how to proceed.

[2016-06-16 05:16] AlexChien commented on #6
It seems the Chain data directory is corrupted.  After `rm -r Chain` and restart the node, it's working fine now.

[2016-06-16 05:16] #6 closed

[2016-06-16 06:09] AlexChien opened #7 "RPC: getconnectioncount error"
[code]

[2016-06-16 06:12] AlexChien opened #8 "RPC: getrawmempool error"
similar issue as #7

[code]

[2016-06-16 06:19] AlexChien opened #9 "RPC: getblock <index>"
[code]

The error says "字符串"333"无法识别为正确的UInt256。".  `getblock` is supposed to support block hash or height as parameter.

[2016-06-16 06:41] erikzhang commented on #9
The published version of peer does not support this command "getblock <index>".
If you need to use it, you have to build the latest version [master](https://github.com/AntShares/AntShares/tree/master) on windows or [coreclr](https://github.com/AntShares/AntShares/tree/coreclr) on linux.

[2016-06-16 06:41] #9 closed

[2016-06-16 06:56] erikzhang commented on #8
The published version of peer does not support this command "getrawmempool".
If you need to use it, you have to build the latest version [master](https://github.com/AntShares/AntShares/tree/master) on windows or [coreclr](https://github.com/AntShares/AntShares/tree/coreclr) on linux.

[2016-06-16 06:56] #8 closed

[2016-06-16 06:57] erikzhang commented on #7
The published version of peer does not support this command "getconnectioncount".
If you need to use it, you have to build the latest version [master](https://github.com/AntShares/AntShares/tree/master) on windows or [coreclr](https://github.com/AntShares/AntShares/tree/coreclr) on linux.

[2016-06-16 06:57] #7 closed

[2016-08-08 09:53] wyh136 opened #11 "打开钱包后报错"
![1](https://cloud.githubusercontent.com/assets/12386613/17476120/edae10f0-5d90-11e6-9cde-45f4ca0fd872.png)

[2016-08-08 09:53] wyh136 commented on #11
error.log：
An error occurred while updating the entries. See the inner exception for details.
   在 Microsoft.Data.Entity.Update.ReaderModificationCommandBatch.Execute(IRelationalConnection connection)
   在 Microsoft.Data.Entity.Update.Internal.BatchExecutor.Execute(IEnumerable`1 commandBatches, IRelationalConnection connection)
   在 Microsoft.Data.Entity.ChangeTracking.Internal.StateManager.SaveCh

[2016-08-08 10:03] erikzhang commented on #11
This bug has been fixed in commit [6d9f810](https://github.com/AntShares/AntShares/commit/6d9f810bd90179a9394689101134e41498d64dba)

[2016-08-08 10:03] #11 closed

[2016-09-19 18:44] starit opened #13 "How to install on Linux?"
I can't find anything related to install description. I've already installed  .Net Core SDK

[2016-09-20 08:03] erikzhang commented on #13
You can download the client from here: https://github.com/AntShares/AntShares/releases
And the description is here: https://github.com/AntShares/AntShares/wiki/Validating-Node

[2016-09-20 08:03] #13 closed

[2016-10-14 03:19] chenzhitong opened #14 "I see more than one process in the Task Manager, when I open/close the antshares client several times."
<img width="416" alt="2016-10-14_11-16-34" src="https://cloud.githubusercontent.com/assets/6295602/19374642/e143b42a-91ff-11e6-9336-68a8b9ae64e8.png">

 I see more than one process in the Task Manager, when I open/close the antshares client several times.

[2016-10-14 03:23] chenzhitong opened #15 "Some window and menu display Chinese, when I run the client in English systme"
Some window and menu display Chinese, when I run the client in English systme

![2cea812c5f1b4b0a8f96fa0671ad477d](https://cloud.githubusercontent.com/assets/6295602/19374757/dcc6e4ac-9200-11e6-9204-98a28e846369.jpg)

![27ca7bae4d369b7ec1e45bc675de2e8d](https://cloud.githubusercontent.com/assets/6295602/19374764/e7a5ba4c-9200-11e6-9a35-e193c79fb862.jpg)

![78c8a9f1d489697e25cf134d773d02cf](https:/

[2016-10-15 11:30] erikzhang commented on #15
Fixed in commit [872f75381075cc04aa5e6081f3a2ce087a6e7650](https://github.com/AntShares/AntShares/commit/872f75381075cc04aa5e6081f3a2ce087a6e7650)

[2016-10-15 11:30] #15 closed

[2016-10-16 06:23] AlexChien opened #16 "Compilation failed"
branch: `testnet-coreclr`
commit: head (ed35261af8a3325759bec06861968089c22521b9)

[code]

`coreclr` branch with 6dee26726d693b6a7a4610d2ed723b85bc3c78e4 works fine

[2016-10-17 15:08] #16 closed

[2016-10-18 09:29] wnf0000 opened #17 "小蚁客户端领取小蚁币程序奔溃，再次运行打开钱包数据库就崩溃。。。"
领取小蚁币时点一次全部领取按钮，弹出来一个窗口，里边一个文本框显示交易编号还是什么来着，我关闭窗口后，再点一次全部领取，然后程序就崩溃了。
崩溃后我重新运行程序，能正常运行，在打开钱包数据库操作时，选择钱包文件，输入密码，点确定，这时候程序再崩溃，再怎么重复都是这样崩溃。。。
以下是错误窗口的日志
`See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.FormatException: One of the identified items was in an invalid format.
   at AntShares.

[2016-10-18 16:06] erikzhang commented on #17
fixed in commit [d08bb9461501e5c3ccfa11d3f5bbc10aca434bf3](https://github.com/AntShares/AntShares/commit/d08bb9461501e5c3ccfa11d3f5bbc10aca434bf3)

[2016-10-18 16:06] #17 closed

[2016-10-23 15:46] signingoff opened #18 "Developer Tool: when enter invalid json chars, errors happens"
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

*************\* Exception Text **************
System.FormatException: One of the identified items was in an invalid format.
   at AntShares.IO.Json.JObject.Parse(TextReader reader) in C:\Users\Erik\Documents\Visual Studio 2015\Projects\AntShares\AntSharesCore\IO\Json\JObject.cs:line 117

[2017-04-20 17:58] #18 closed

[2017-06-24 14:19] rboyd opened #22 "fix broken link to docker image"
https://github.com/AntShares/AntShares/wiki/Bookkeeping-Node-Deployment links to a missing docker image. anyone have current?

[2017-06-25 07:11] rboyd commented on #22
odd.. it works now. there is 1 broken image link on the page though under "dotnet run". was it just to show successful output?

https://camo.githubusercontent.com/91cdd7d22b810a4d845525d7900d7034dfb3ad42/68747470733a2f2f7777772e616e746170702e746563682f7374617469632f6877617070312e676966

[2017-06-25 07:30] rboyd commented on #22
should we also publish signed checksums of all binary downloads?

[2017-06-30 10:05] fl0wjacky opened #23 "sys_fee should be an integer"
When I sync block datas on Neo testnet,I found block 209913 and 210035's sys_fee are decimal,I think there is a bug,cause if it's a decimal, it divided by 100 million will have more than 8 decimal places.

[2017-07-01 21:24] Ejhfast opened #24 "TestNet Request Page Broken"
A few of us have been trying to get TestNet funds through: https://www.antshares.org/Testnet/Create

Unfortunately, the form rejects public keys generated by MainNet wallets. Is there another way to generate public keys that work on the TestNet? If not, perhaps there is a bug?

Specifically, the error message we are getting is (in English) "Incorrect little ant public key"

(Apologies if this is n

[2017-07-02 08:15] Ejhfast commented on #24
Closed as it seems that people were pasting their address in the form instead of their public key.

[2017-07-02 08:15] #24 closed

[2017-07-07 09:06] erikzhang commented on #23
fixed in 544449c

[2017-07-07 09:06] #23 closed

[2017-07-07 10:10] PeterLinX commented on #22
You can find docker image here(https://pan.baidu.com/s/1jI0TIJW#list/path=%2FDocker). Link in https://github.com/AntShares/AntShares/wiki/Bookkeeping-Node-Deployment is valid.

[2017-07-07 10:11] PeterLinX commented on #22
I think signed checksums is necessary. We will add it. Thanks for your suggestions.

[2017-07-15 06:58] lerider opened #28 "Set 1 NEO to equal 1 vote"
TLTR version here:
1. Create a Slack group and have NEO holders join.
2. Discuss how much shares you own together.
3. Wait until you have a large enough group so that your shares totals to 5%.
4. Split up all your shares so that there is only 500 shares in each node. You will have 10 000 nodes.
5. Accumulate 10% of all coins so that you can nominate all 10 000 nodes for bookkeeeping.
6. Have all y

[2017-07-15 08:34] Mytechshout commented on #28
Seems to be a good idea. The NEO team must look into it.

[2017-07-15 09:02] rickyhan commented on #28
I think you might be onto something here. It would be better if you could support your claims with numbers. Can you calculate the exact percentage of malicious population for the cartel situation to happen?

[2017-07-15 09:11] lerider commented on #28
It doesn't have to be malicious population. With this voting system, the cartel will happen 100% based on game theory.

It is surely financial beneficial to become a bookkeeper, so if we are a group of people with stake, the best strategy is to agree to vote for each other to fill all bookkeeper seats and avoid others from joining in. It could be one large stake with many small partners, or a numb

[2017-07-15 16:51] canesin commented on #28
Hey @lerider, good that you want to contribute, why don't you join our dev group in slack and discuss this ? Some problematic points with your analysis:

1 - You are wrong on attacks incentive as nodes considered byzantine fault do not participate on the block reward.

2 - Voting participation is effectively expected to be higher as there is incentive to participate in the consensus and high stake

[2017-07-15 16:59] tommydangerous commented on #28
@canesin hello, I'm looking to get involved in development. I tried to join the slack channel but the heroku app returns invalid token. Can I please have an invite to your dev channel?

[2017-07-15 17:07] lerider commented on #28
Preparing for bed, will look into your group tomorrow. Quick reply:

1. The incentive is to receive transaction fees, not block rewards.

2. Yes, I also expect it to be high. High stake participants will split into several bookkeeping nominates and then before vote decide together with other high stake participants to all give each other one vote each, practically high-jacking all seats in the con

[2017-07-15 17:07] canesin commented on #28
Hi @tommydangerous, sure so  https://antshares-slack.herokuapp.com is not working ? Please drop me a dm in reddit with your email /u/canesin and I will invite you.. the slack and other communication channels are moving with the rebrand, so there is some confusion

[2017-07-15 17:13] tommydangerous commented on #28
Thank you, will do now!

[2017-07-15 17:20] tommydangerous commented on #28
@canesin sent message on Reddit. Let me know if you didn't receive it. Thank you

[2017-07-16 03:50] lerider commented on #28
@canesin I have the same problem.
Failed! token_revoked

[2017-07-17 01:42] canesin commented on #28
@lerider I will close this issue since we will collaborate to proper research and model it. After that you can reopen with the associated data if needed, you have our secondary communication channels.

[2017-07-17 03:44] lerider commented on #28
Let me clarify how a minority can easily get majority as bookkeepers if we don't change:
1. Create a Slack group and have NEO holders join.
2. Discuss how much shares you own together.
3. Wait until you have a large enough group so that your shares totals to 5%.
4. Split up all your shares so that there is only 500 shares in each node. You will have 10 000 nodes.
5. Accumulate 10% of all coins so

[2017-07-18 07:44] lerider opened #30 "Simulate and evaluate how number of consensus nodes can be used to improve performance and security"
Issue background:
We want to avoid non-honest consortiums to gain majority as consensus nodes, which could be a bit tricky if the threshold for being a consensus node is the weighted average of mid-50 %.

We want NEO consortium to control the consensus nodes, and if number of total consensus node is set after voting (all nominees above weighted average of mid-50%), then it can be tricky for NEO co

[2017-07-18 13:49] lerider commented on #30
[simulation files.zip](https://github.com/neo-project/neo/files/1156035/simulation.files.zip)

[2017-07-19 03:42] lerider commented on #30
[sim_output.zip](https://github.com/neo-project/neo/files/1157901/sim_output.zip)

[2017-07-22 15:41] coranos opened #31 "EnrollmentTransaction.cs checking PK"
in EnrollmentTransaction.cs the publickKey is not checked as part of DeserializeExclusiveData.

in contrast, in RegisterTransaction.cs you do check and throw a FormatException.

compare RegisterTransaction.DeserializeExclusiveData line 70-72
Owner = ECPoint.DeserializeFrom(reader, ECCurve.Secp256r1);
if (Owner.IsInfinity && AssetType != AssetType.SystemShare && AssetType != AssetType.SystemCoin)
t

[2017-07-22 15:46] coranos opened #32 "Transaction negativity check"
in Transaction, line 346, in the Verify function, the value of output.Value.GetData() could be negative.

The check for negativity is done in RpcServerWithWallet.cs, which is in the neo-cli project, rather than in Transaction.cs in the neo project.

[2017-07-22 15:50] coranos opened #33 "LevelDBBlockchain.cs Persist Negativity Check"
on line 512 in LevelDBBlockchain.cs, in the function Persist, in the case for IssueTransaction, the subtraction is not checked for overflow. this would allow you to issue more aassets than the available assets.

case TransactionType.IssueTransaction
assets.GetAndChange(result.AssetId).Available -= result.Amount;

[2017-07-22 15:56] coranos opened #34 "Transaction.cs verify, case falthrough."
in Transaction.cs line 360, in the function Verify, the case statement for TransactionType.MinerTransaction falls through to TransactionType.ClaimTransaction.

Unless I misunderstood the whitepaper, this is incorrect as MinerTransaction does not issue SystemCoin Assets, so it should fail verification if any SystemCoin assets are issued as part of a MinerTransaction

[2017-07-24 08:38] R5fan commented on #28
The issue you raise is very real. The solution, doesnt quite solve it. If you only allow 1 vote per share, candidate bookkeepers will use that vote only for themselves to maximize their own chances of election. I dont see the incentive for non-candidate ANS holders to vote at all (in fact, a negative incentive, since it costs ANC to cast a vote), so honest bookkeeper candidates will have difficult

[2017-07-25 03:57] lerider commented on #28
It's one vote per share which can still be distributed among several consensus nodes. 500 votes on two candidates will give 250 votes each. Adding mid-50 percent weighted average on number of nodes, cartels less than 25 percent holdings have zero say in number of consensus nodes.

[2017-07-25 08:12] erikzhang commented on #31
As you know EnrollmentTransaction is marked as "Obsolete", it is no longer to be used any more. As an alternative, Validator.Register() in contract API will check the pubkey.
See https://github.com/neo-project/neo/blob/master/neo/SmartContract/StateMachine.cs#L114

[2017-07-25 08:12] #31 closed

[2017-07-25 08:15] erikzhang commented on #32
The negativity check is in TransactionOutput.cs:
https://github.com/neo-project/neo/blob/master/neo/Core/TransactionOutput.cs#L34

[2017-07-25 08:15] #32 closed

[2017-07-25 08:18] erikzhang commented on #33
The negativity check is in IssueTransaction.cs:
https://github.com/neo-project/neo/blob/master/neo/Core/IssueTransaction.cs#L68

[2017-07-25 08:18] #33 closed

[2017-07-25 08:26] erikzhang commented on #34
There are three ways to gain gas (which is SystemCoin).

1. system fee
2. network fee
3. block bonus

The ClaimTransaction handles 1st and 3rd, and the MinerTransaction handles 2nd.

[2017-07-25 08:26] #34 closed

[2017-07-26 08:34] rickyhan opened #37 "What's the status on NeoFS?"
I don't seem to find the for NeoFS in the repositories. Is there anyway to test it out?

[2017-07-26 13:07] VincentTano commented on #28
has the 1 vote 1 share system been implemented into the code yet? curious to see how the code will look like after the change.

[2017-07-27 05:13] erikzhang commented on #37
It's still in the design.

[2017-07-27 05:13] #37 closed

[2017-07-29 10:18] coranos opened #39 "Please add getaddr to JSON-RPC"
Please add the getaddr functionality to JSON-RPC.

I'd like to be able to display a map of all the NEO nodes and their current NEO version by geocoding their IP addresses, but that information is only available via the binary port 10333.

This will also allow me to display and debug network splits and versioning inconsistencies. For example some seeds are currently on 2.0.1 and some on 2.0.0.

I'd

[2017-08-07 09:46] erikzhang commented on #39
resolved in #40

[2017-08-07 09:46] #39 closed

[2017-08-07 14:19] mhuggins commented on #22
Is there a way to download the docker image without having to download this "Baidu" client?

[2017-08-07 23:42] DataDrug opened #42 "Translation"
Hello,

I just bought my first NEO shares and I believe in this project.

Please be kind enough to PM me if you need translation for portuguese and brazilian portuguese.

[2017-08-08 17:10] erikzhang commented on #22
Maybe we should upload it to Docker Hub. @PeterLinX

[2017-08-08 17:18] erikzhang commented on #42
Maybe you can make contributions to our docs repo:
 https://github.com/neo-project/docs

[2017-08-08 17:18] #42 closed

[2017-08-10 02:11] #28 closed

[2017-08-10 02:12] lerider commented on #28
Replaced by https://github.com/neo-project/neo/issues/30

[2017-08-10 06:26] erikzhang commented on #30
Hi, can you port this issue to https://github.com/neo-project/proposals as a NEP(NEO Enhancement Proposal)?

[2017-08-10 21:31] rdehosson opened #45 "Neo coins do not show in wallet while they are in my address"
Today I transferred 10 neo into my neo wallet. However they do not show, while they are in my address.

The receiver address is: AXmAcTbCGJ14ww2E4e2J3LLgryToAFepZQ
Tx is: 916098048af68dad91a32de63a9074768ea244be815628035006fe5b2a4d0b38

I am using the web wallet

[2017-08-12 01:05] james-s-nduka opened #46 "White paper grammer?"
Reading through the whitepaper I can see that there is no consistency regarding the term "Bitcoin". In some instances its refered to with a lower case "b" and other instances it begins with an upper case "B".

[2017-08-12 16:23] kekearif opened #47 "Readme still uses the term Antshares even though rebranding to NEO was a week ago"
Hey. The documents are still all out of date. Still uses the words Antshares. It is NEO now. Any chance of some updates to make it look more professional?

[2017-08-13 06:02] Renster123 opened #48 "Neo android wallet- can't withdraw funds!!"
Hi Neo, I downloaded and transferred neo coins into the Android mobile wallet but it wont allow you to transfer funds out. Many others have this problem. Please advise

[2017-08-13 06:48] erikzhang commented on #45
You need to make it full synchronized.

[2017-08-13 06:48] #45 closed

[2017-08-13 07:44] erikzhang commented on #46
You can correct it on [Github](https://github.com/neo-project/docs).

[2017-08-13 07:44] #46 closed

[2017-08-13 08:13] erikzhang commented on #47
Yes, I will update to README soon.

[2017-08-13 21:35] ralphtheninja opened #49 "English README"
Hi! A suggestion would be to have the readme in english. I know a lot of people speak chinese but if you want to reach out beyond china it can be difficult. You could also consider having two readmes, one in chinese and one in english.

[2017-08-14 15:02] erikzhang commented on #49
I agree. It will be done soon.

[2017-08-14 21:16] cryptoleb1 opened #50 "Have public address, lost private key"
https://antchain.xyz/search?q=AavSSqSm2o1Zq2hvYFAwGS8s5MWtQ2LdiN

Hello, I reached out to the dev team via email, tweeted and reached out to fabwa on reddit. While I just reached out, i also wanted to reach out here.

Here's my situation. When I became an investor originally of anthsares, I stored my coins on the exchange. At the end of June, I downloaded the wallet and create an address. At the t

[2017-08-14 22:19] cryptoleb1 commented on #50
@erikzhang

[2017-08-15 06:07] erikzhang commented on #50
Once you lost your private key, there is no chance to recover it. I'm sorry about this.

[2017-08-15 06:07] #50 closed

[2017-08-15 06:22] cryptoleb1 commented on #50
Mr. Zhang,

I don't understand....on the white paper for both neo and antshares it clearly states for the "sake of lost private keys, Antshares has an asset-retrieving mechanism in place, i.e. even if you lose the private key to a certain address, assets within it are still retrievable without helps from a third party."

[2017-08-15 07:52] erikzhang commented on #50
That is a planning mechanism which has not been implemented.

[2017-08-15 08:03] cryptoleb1 commented on #50
So once this is implemented I'll be able to retrieve my assets...correct? I have the password and address.

[2017-08-15 08:06] cryptoleb1 commented on #50
I know you are very busy sir, I just want my coins. Any information to provide me a bit of hope is appreciated. I was about to give up and then I read that information on the white paper.

Thank you again.

[2017-08-15 11:02] erikzhang commented on #49
Duplicate of #47

[2017-08-15 21:47] i3bitcoin opened #52 "Ubuntu 16.04 installation"
Hi,
Is there any installation guide for ubuntu 16.04?

[2017-08-15 21:52] jonatanblockchain commented on #52
Please, don't open more issues.
https://github.com/neo-project/neo-cli/issues/13

[2017-08-16 07:04] i3bitcoin commented on #52
W: GPG error: https://packages.microsoft.com/repos/microsoft-ubuntu-xenial-prod xenial InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY EB3E94ADBE1229CF
W: The repository 'https://packages.microsoft.com/repos/microsoft-ubuntu-xenial-prod xenial InRelease' is not signed.
N: Data from such a repository can't be authenticated and is therefore

[2017-08-16 08:57] #52 closed

[2017-08-18 20:26] felipeclopes commented on #49
It is fixed already https://github.com/neo-project/neo/commit/dac1c84b774d53949391f305b1696ca049e87071

[2017-08-19 09:02] #49 closed

[2017-08-19 09:03] erikzhang commented on #47
fixed

[2017-08-19 09:03] #47 closed

[2017-08-20 06:32] handzio opened #54 "public key"
When I open wallet in NEO-GUI  and view private keys , above there is Address and Public Key in upper window . In bottom window thee are private keys , HEX and WIF .
My question is  - what for is there a Public Key ?
What is its function and how to use this key .
So far this is what I find about .
(4) Public key: Each private key has a matching public key (Note: Public key, and private key informa

[2017-08-20 07:13] erikzhang commented on #54
You can use your public key to make a multi-sig address.

[2017-08-20 07:13] #54 closed

[2017-08-21 14:20] erikzhang commented on #48
Export the private key and use another wallet.

[2017-08-21 14:20] #48 closed

[2017-08-21 17:54] gelinger777 opened #56 "Our Own Chain"
Is it possible to fork your project and start our own parallel  blockchain based on your technology?

[2017-08-21 19:50] AshRolls commented on #56
Yes, it's open source. You must conform with the MIT license is here https://github.com/neo-project/neo/blob/master/LICENSE

[2017-08-21 19:50] #56 closed

[2017-08-21 20:41] jamesglennon opened #57 "Create java examples and sort existing examples per language"

[2017-08-21 20:44] jamesglennon commented on #57
I can implement this task, though as I am new to the project I will need a few days ramp-up time, and I can begin the task at the weekend.

[2017-08-22 01:33] Lopastvertoleta opened #58 "Develop smart contracts on Linux/macOS"
Is it possible to develop NEO smart contracts using .NET Core instead of .NET Framework? It is stated that NEO supports .NET Core, but the docs are only for Windows and examples do not compile on macOS

[2017-08-23 02:03] chenzhitong opened #59 "当 json-rpc 传入的数组中有回车时，Json格式化错误"
当 json-rpc 请求的数组中有回车或换行时，服务器会返回错误（-32700 Parse error）。
[code]
将数组中的回车删掉，服务器会返回正确结果
[code]
估计是 JSON 解析的时候出错的，当用 [Newtonsoft Json.NET](https://www.newtonsoft.com/json) 解析时不会出错。

更简单的测试用例：
[code]
JSON 解析错误
[code]
JSON 解析正确

[2017-08-23 08:48] erikzhang commented on #57
Should I create an "examples-java" repo?

[2017-08-23 08:51] erikzhang commented on #58
@chenzhitong Can you look into it?

[2017-08-23 09:03] jamesglennon commented on #57
Hi Erik, yes I think a separate repo for examples-java would be cleaner, thanks.

One quick question, I am importing the library AntShares.SmartContract.Framework.jar to use the framework services, but I see that some functionality exists in the C# examples that are not contained in the framework jar - for example in AgencyTransaction.cs you are calling a VerifySignature(client, signature), but th

[2017-08-23 09:24] erikzhang commented on #59
It seems if you put a "\t" character into the JSON string, you will get this error.

[2017-08-23 09:38] erikzhang commented on #57
Done.
https://github.com/neo-project/examples-java

[2017-08-23 10:15] #59 closed

[2017-08-24 18:20] futurehelen opened #60 "https://app.antshares.org/ is not working: not sure how to move to new web wallet"
peter lin had a guide but the select wallet file field
<img width="1440" alt="ss" src="https://user-images.githubusercontent.com/8387924/29681943-34401208-88be-11e7-9ea6-f89ad8d34c71.png">
functionality is not working

[2017-08-24 20:24] aljoscha commented on #58
I actually have this working on macOS, the problem is that the different NEO projects have `net461` (besides netstandard1.6 and sometimes netcoreapp1.0) as `TargetFramework` and this doesn't work on macOS. For building on the command-line, you can specify `-t netstandard1.6` and the projects build. For getting it to work in Visual Studio on Mac you need to remove `net461` from the project files.

[2017-08-25 01:40] Lopastvertoleta commented on #58
Thanks for the answer, now the problem is I can't convert compiled dll to avm for deployment. On Windows this is handled by the plugin, but I couldn't find it for macOS

[2017-08-25 06:41] aljoscha commented on #58
I uploaded the changes to make Neo.Sandbox work on macOS on my fork: https://github.com/aljoscha/Neo.Sandbox. You can look at https://github.com/aljoscha/Neo.Sandbox/blob/master/src/Testbox/Test_HelloWorld.cs and https://github.com/aljoscha/Neo.Sandbox/blob/master/src/Testbox/Utilities/ExecutionHelper.cs. There you see how a dll is converted to AVM and also how it's executed for testing.

[2017-08-25 18:27] 5hanth opened #61 "do we have a docker file ?"
I'm trying to run server in daemon mode but there don't seem to be an option.

Wanted to check if anyone is working on dockerfile. [The links in doc](https://github.com/neo-project/neo/wiki/Bookkeeping-Node-Deployment) were pointing to a [download portal](https://pan.baidu.com/s/1jI0TIJW#list/path=%2FDocker). Would be great if there is a direct link that can be downloaded via wget (docker_image_an

[2017-08-25 19:37] jonatanblockchain commented on #61
Hi 5hanth ,
I've created docker images, https://github.com/jonatanblockchain/neo-docker
Right now we are testing them.

[2017-08-25 19:40] jonatanblockchain commented on #22
See #61

[2017-08-26 13:57] 5hanth commented on #61
do we have an option to run rpc server in daemon mode as of now ?

[2017-08-26 14:45] jonatanblockchain commented on #61
Hi 5hanth
I'm trying/testing different switch options, meanwhile you can change these two lines.

EXPOSE 10332 10333
ENTRYPOINT [ "dotnet", "neo-cli.dll", "/rpc" ]

[2017-08-28 10:39] wy commented on #57
Looks like lots of the new features like Runtime and Enrollment are missing @erikzhang from Java compiler?

[2017-08-28 10:46] erikzhang commented on #57
They will be available at https://github.com/neo-project/neo-devpack-java soon.

[2017-08-28 11:03] erikzhang commented on #61
See #22

[2017-08-28 13:28] PeterLinX commented on #22
@jonatanblockchain Great! I will check them.

[2017-08-28 13:32] PeterLinX commented on #60
Hi @futurehelen, the wallet's  default name is "wallet", you need to input your password to open it. Everything looks fine in picture you sent, please tell me more details about your question.

[2017-08-28 15:33] futurehelen commented on #60
hi Peter
no worries. I moved it to the neon wallet. However, The neon desktop wallet
(mac) is having minor issues now. it shows me my balance, the gas is
working, but I've tried twice to send my antshares and gas and both times
it hasn't worked: not a big deal, it's not like the shares/gas got lost in
transit. they're all sitting in my account but it can't send.

note: I do know that it did work a

[2017-08-28 16:06] DrDanP commented on #60
Hi futurehelen...where did you find the other neon wallet? Did you have to set it up yourself? I still have not been able to transfer my NEO from my app.antshares.org wallet.
Dan

[2017-08-28 16:14] futurehelen commented on #60
you find it on the neo site: its the city of zion Neon wallet.  you don't
have to transfer anything.  just download it, then type in your private key
and it opens up the same account and show you your shares and gas and you
can claim gas. this one, you don't have to type in your old password.

so, in essence, no transfer.

I also managed to successfully send the gas I had earned out of this new
wa

[2017-08-28 16:20] DrDanP commented on #60
Thanks Helen.  I might sit on it a bit more...it's a little concerning that you have not been able to send shares.

[2017-08-28 16:38] futurehelen commented on #60
neon wallet seems to be a window into the blockchain. So it doesn't really
matter if you download it and use it. it's not actually moving your shares
from one place to another.

On Mon, Aug 28, 2017 at 9:20 AM, DrDanP <notifications@github.com> wrote:

[2017-08-29 05:18] #60 closed

[2017-08-29 18:50] mongakshay opened #63 "Official NEO repo ?"
I have been 'watching' this code repo for NEO for past few months, and by looking at the very low volume of commits I am wondering if I am subscribed to the official NEO repo or not ? I have subscribed to other projects as well and comparatively this seems very less active. Can I get pointed to the future road map of NEO ?

[2017-08-29 19:07] arjunmantri commented on #63
The last active dev or improvement was weeks ago? What is the next thing NEO devs are working on or just a bubble comparing with ETH as a ETH of China? And will the downward trend continues?

[2017-08-29 19:40] localhuman commented on #63
There are many projects in the NEO ecosystem, you can view them all here:
https://github.com/neo-project

This is the current roadmap:
https://github.com/neo-project/proposals

It is unwise to look at the tip of an iceberg and proclaim it to be small.

[2017-08-29 19:40] #63 closed

[2017-08-30 06:18] jeremylcarter opened #64 "Group up extension methods by source type and comment them."
There are many extension methods in use by the neo project.

I would like the group them up into individual static classes based on their type. During this process I would also comment the extension methods to explain what they are doing. This will improve the codebase for future development and documentation.

For example:
[code]

Would become
[code]

[2017-08-30 06:32] jeremylcarter commented on #64
@erikzhang Could you assign this to me if you would like me to carry out the work? Thanks!

[2017-08-30 08:32] AshRolls commented on #64
@jeremylcarter these would be useful improvements. We (City of Zion) have improvements of this nature planned for the core, please could you drop into #develop in slack and DM '@ashant' so we can coordinate?

[2017-09-05 06:58] vivekRev opened #65 "Issue in calling the contract in c#"
Hey, I have problem in calling the contract which has the parameter of type array. Anybody help me to get out of this.

**Contract.cs**
        public static int Main(string str, int[] arr)
        {
            int a = arr[0];
            int b = arr[1];
            if (str == "add")
            {
                return a + b;
            }
            else
            {
                return a

[2017-09-05 09:17] AshRolls commented on #65
Hello, please join #develop channel in the NEO slack for assistance.

[2017-09-05 09:17] #65 closed

[2017-09-05 16:26] backnight commented on #22
@jonatanblockchain can you reference them on Docker Hub? Thanks for the great work!

[2017-09-06 17:30] backnight opened #66 "Import/Export blocks command?"
Hello,

I see that there is an `export blocks` command on Neo-CLI but no `import blocks`.
Is this a feature that will be created later and should we not expect an import feature?

Thanks for the work.

[2017-09-07 07:06] erikzhang commented on #66
You can put the `chain.acc.zip` into the program directory and start the node. It will import it automatically.

[2017-09-07 07:06] #66 closed

[2017-09-13 05:36] lerider opened #68 "Rename PerpareRequest.cs to PrepareRequest.cs"
neo/Consensus/PerpareRequest.cs

[2017-09-22 12:53] Kagamine opened #69 "Cannot transfer NEO from a contract to wallet"
I just following the documentations, generated a transfer body from the first node, and when signing in the second node, neo-gui says: 'The private key that can sign the data is not found'

![image](https://user-images.githubusercontent.com/2216750/30745263-02c58984-9fd8-11e7-9071-1e3f7d4387ff.png)

[2017-09-25 03:39] l328958741 opened #70 "创建项目后，代码报错的问题及解决方案"
根据文档（[http://docs.neo.org/zh-cn/sc/getting-started-csharp.html](url)）配置开发环境，在创建项目后，发现代码报错，如下图所示：

![image](https://user-images.githubusercontent.com/21151878/30791281-118bc0e2-a1e4-11e7-898e-27d0b17bb2bd.png)

解决办法：
1、移除**引用**中的**Neo.SmartContract.Framework**重新添加；
2、点击项目，右键添加**引用**，找到**Neo.SmartContract.Framework**并添加；
![image](https://user-images.githubusercontent.com/21151878/30791420-de2caeea-a

[2017-09-25 15:28] PeterLinX commented on #69
What documentations? Pls try to give us more info.

[2017-09-27 06:31] snowypowers opened #71 "RpcServer invokefunction reading wrong param"
Have been playing with `invokefunction` and realised that it cannot work with any methods that accepts arguments.

This is an example of the POST i am sending to a v2.3.3 node. It is the `BalanceOf` method shown in the tutorial for SC in neo docs.

[code]

Upon closer inspection, it seems like the `invokefunction` case reads the args wrongly. It should be reading _params[2] instead of _params[1]

[2017-09-28 04:42] solutionjet opened #72 "RPC documentation"
Hi,
where is the detail documentation for each new rpc method .. the existing doc on docs.neo.org has only the old methods doesn't cover new ones.

Also , how can you supply rpcuser/pwd as command line switches ?

[2017-09-28 10:36] snowypowers commented on #71
Looks like the problem is deeper than i thought.

I implemented a simple fix and ran a custom build and ran into this error instead:

![image](https://user-images.githubusercontent.com/9101245/30962237-90a224f4-a47b-11e7-994d-83de578bbaa7.png)

https://github.com/neo-project/neo/blob/f6b2c8a556b2cad17f1180faabb6a42fcd16a019/neo/SmartContract/ContractParameter.cs#L59

The code is trying to rely on

[2017-10-01 02:07] erikzhang commented on #70
不需要这样，Neo.SmartContract.Framework是通过nuget引用的，只需要在nuget包管理器中还原一下包就可以了。

[2017-10-01 02:41] erikzhang commented on #72
http://docs.neo.org/zh-cn/node/api.html
The Chinese version is complete, and other languages will be perfected gradually.

[2017-10-01 02:48] erikzhang commented on #71
[code]
The third parameter should be an array:
[code]

[2017-10-01 04:35] snowypowers commented on #71
I have corrected my input with your given input and reading from `_param[2]` will pass. However, the second error where the AsEnum tries to look for the `"type"` still fails because `"type"` is not set at all.

[2017-10-01 22:51] erikzhang commented on #71
[code]

[2017-10-02 04:08] rockacola opened #74 "Incorrect GAS balance from "getaccountstate" of JSON-RPC API"
The output of `getaccountstate` appears to have provide imprecise value for GAS with decimals.

Examples:
- Transfer 0.00012 GAS between testnet wallets: https://neoscan-testnet.io/transaction/745d4b7ace43d28ad5712bf61a7d0304836af21fa7ca5035958591d907ffc808
- The GAS balance of wallet `AVUfegS354LWRoBuCzuKjGCYkT3tnpFFTD` should now be `2999.99988`, down from `3000`.
- Notice that the blockchain ex

[2017-10-02 05:40] snowypowers commented on #71
Thanks for clarification erik! Got it working! So the JSON part is not a bug but a mistake on my side. However, I believe that the original issue is still considered a bug.

Would you like a PR or you can do it yourself (since its a simple fix)?

[2017-10-06 01:52] erikzhang commented on #71
PR is okay.

[2017-10-06 02:18] #68 closed

[2017-10-06 06:53] #71 closed

[2017-10-09 08:37] #14 closed

[2017-10-09 08:38] #57 closed

[2017-10-09 08:39] #58 closed

[2017-10-09 08:40] #69 closed

[2017-10-09 08:41] #70 closed

[2017-10-09 08:41] #72 closed

[2017-10-09 16:46] tareshss commented on #22
you can use mine, base is microsoft/aspnetcore-build (1.19GB) and neo project compiled on it. I will trim it down and write up the docker file.

 `docker pull taresh/neo-cli`

[2017-10-09 18:51] coranos opened #80 "getpeers fails with "Object reference not set to an instance of an object.""
when I call getpeers on the RPC service `http://test1.cityofzion.io:8880` i get an error response.

[code]

I get a error response pointing to RpcServer.cs:line 283
`peerJson["port"] = node.ListenerEndpoint.Port;`

[code]

some nodes do not give that response.
`http://test5.cityofzion.io:8880`

[code]

[2017-10-10 06:18] Ray-77 commented on #74
I did all the things exactly as you said , but finally found the "getaccountstate" of JSON-RPC API is correct , as shown below :
![1](https://user-images.githubusercontent.com/17636881/31371809-85736b76-adc5-11e7-9727-c190eabd5c97.png)
By the way , I've also  get the state of your account AVUfegS354LWRoBuCzuKjGCYkT3tnpFFTD , as shown below , I want to know if it's correct :
![2](https://user-image

[2017-10-11 08:49] #80 closed

[2017-10-20 05:45] rockacola commented on #74
Attempt to replicate the concern, but seeing slightly different result:

* Fund a new wallet `AZ2BG1o6sUfggw1yajc7sVrfxZWLb79HxB` on testnet with 2 NEO and 2 GAS:
  * https://neoscan-testnet.io/address/AZ2BG1o6sUfggw1yajc7sVrfxZWLb79HxB

* Use `neon-js` to transfer `0.00013 GAS`  with `neon.doSendAsset()` method.
  * https://neoscan-testnet.io/transaction/12f2894b45a9673a107a8adb694340791d66082b51

[2017-10-20 13:48] hal0x2328 opened #85 "Unhandled exception when sending assets from contract address"
Using the following test contract:
[code]
If I understand correctly, this should allow anyone to spend from the contract address. But a transfer attempt fails on actual execution - the GUI always crashes with an exception "Index was outside the bounds of the array" in Neo.SmartContract.ContractParametersContext.Add.

[2017-10-20 13:50] hal0x2328 commented on #85
<img width="902" alt="screenshot 2017-10-20 09 43 13" src="https://user-images.githubusercontent.com/31932411/31824119-1cbd87ce-b57c-11e7-8024-c30f96733368.png">

[2017-10-20 15:03] hal0x2328 commented on #85
I suspected this could be related to main() not having any arguments since that also seems to be an issue with the verification code which automatically puts the signature data on the stack, so I tried again with another contract:
[code]
Same result was experienced however, exception "Index was outside the bounds of the array" in Neo.SmartContract.ContractParametersContext.Add

[2017-10-22 01:18] birmas commented on #85
Hal, do you experience the same issue with your second example if you add the contract address with a parameter of 00? I've run through the logic here and determined that the index exception is being thrown when there is no parameter type of Signature. https://github.com/neo-project/neo/blob/3e1f3457cdc533bf6ea3e2887c39e2a9ddab768b/neo/SmartContract/ContractParametersContext.cs#L152

I've just suc

[2017-10-22 11:27] birmas commented on #85
I think the code in ContractParametersContext needs to be reviewed. Verification fails if a SC has a Main definition such as Main(string op, params object[] args). When adding a contract address param type '00' tx will not be accepted by nodes

[2017-10-22 19:59] rakeshiitd opened #87 "How can we run NEO Node(neo-cli) as deamon"
Hi.

In order to make RPC calls to neo node it is important for us to keep running a neo node in background so how can we achieve it with neo cli? I have tried it with tools like nohup and screen but can not make it. Please help me to run a node as deamon.

[2017-10-23 05:09] erikzhang commented on #87
Duplicate of https://github.com/neo-project/neo-cli/issues/48

[2017-10-23 05:09] #87 closed

[2017-10-23 05:25] birmas opened #88 "Unable to withdraw from SC that has optional "params object[] args" in Main"
The below contract will not allow you to withdraw NEO/GAS that have been deposited into it. The withdraw will work if Main is defined as Main(string operation)

[code]
Deploying contract with parameter "05"
<img width="409" alt="2017-10-23_16h15_07" src="https://user-images.githubusercontent.com/5135115/31873318-2d749028-b80e-11e7-97eb-acc739b348ae.png">

Adding a contract address with parameter "

[2017-10-23 05:35] birmas commented on #88
Additionally, I was attempting to debug the issue last night and the reason the second example (0010) doesn't work is that '10' parameter ends up being null which prevents ContractParametersContext.Completed from being flagged as true. I'm not sure what the intention of this code is so was hesitant to make changes without posting an issue first.

[code]

[2017-10-23 06:50] birmas commented on #88
The "unconfirmed" transaction is caused by Neo.VM.ExecutionEngine throwing an exception in ExecuteOp while parsing OpCode.ROLL. Specifically in The Remove() call: EvaluationStack.Push(EvaluationStack.Remove(n));

I'm not sure whether or not the contract address should be defined as 0010 and be signed or be defined as 00 and have some kind of exception in the execution.

[2017-10-24 07:23] tanZiWen commented on #88
First, if you only want to test smart contract 'withdraw' function, it is unnecessary to deploy smart contract to blockchain.
Second, your parameter list can try use 0001.
![wechatimg4](https://user-images.githubusercontent.com/8327633/31929391-73ec9f3e-b861-11e7-892b-cb3419759385.jpeg)
Third, If there are any signature is not complete, you should copy the incomplete signature content
, and signat

[2017-10-24 11:50] birmas commented on #88
Thanks @tanZiWen - adding the placeholder to the transaction to initiate broadcast was the piece of information I was missing.

I'll close the issue request as there a work around.

[2017-10-24 11:50] #88 closed

[2017-10-24 11:54] birmas commented on #85
@hal0x2328 @erikzhang can this issue be closed with merge of #86 ?

[2017-10-24 16:58] yelllowsin opened #91 "Website Very Slow"
Hi, i don't know where to address this exactly, but the NEO website is very, very slow. I have used it many times and now i am sure the problem is on your side. I don't know what is the exact problems, if it is infraestructure related or what, but i urge you to address this because i feel so many users are being affected by it.

[2017-10-25 08:36] erikzhang commented on #85
It can be closed if someone has tested it.

[2017-10-25 09:19] snowypowers commented on #74
hi @rockacola I did some testing on my side too regarding this issue.

For the example you raised, the RPC result was correct as the transaction actually sent `0.0001299` gas instead of your intended `0.00013` gas. I believe this error would lie on `neon-js` side rather than RPC side.

I have done some testing with `neon-js` on my side and have not encountered any cases where neon sends out a diff

[2017-10-25 09:25] erikzhang commented on #74
https://github.com/CityOfZion/neon-js/issues/22

[2017-10-29 14:30] notatestuser opened #95 "jsonrpc http error status codes"
I've noticed that the RPC server returns a 200 status code even when there is an error. This should instead be something more appropriate like 500.

<img width="331" alt="screen shot 2017-10-29 at 22 28 35" src="https://user-images.githubusercontent.com/1255926/32144736-8aca93aa-bcf8-11e7-9f50-c05b17ddbb9d.png">

<img width="655" alt="screen shot 2017-10-29 at 22 28 40" src="https://user-images.gi

[2017-10-31 11:56] nimgnusmik opened #97 "NEO / GAS Web Wallet"
NEO / GAS Web Wallet https://www.neowebwallet.com

[2017-10-31 11:56] nimgnusmik commented on #22
NEO / GAS Web Wallet https://www.neowebwallet.com

[2017-11-02 03:54] erikzhang commented on #95
200 is an HTTP status code. In HTTP level, there is no error, so we return 200.

[2017-11-02 05:21] notatestuser commented on #95
Although I could argue that there was an internal server error, hence making a 500 status appropriate

[2017-11-02 12:38] PureKrome commented on #95
@notatestuser An `HTTP 500` error is when something _unexpected_ happens on their server.

In the image above, it looks like something _expected_ happened ... just not a nice 'happy' result. So maybe 500 is the wrong status code but something else more appropriate in the `4xx` range.

like maybe `HTTP 400 Bad Request` ?

[2017-11-03 07:45] notatestuser commented on #95
Yeah, something like that would also be fine

[2017-11-03 12:59] hal0x2328 opened #98 "EventHandler declaration changes break neo-gui-developer event log"
The change in the declaration from `public static EventHandler` to `public EventHandler`for `Log` and `Notify` events in
https://github.com/neo-project/neo/commit/4e4afce5d7b9c29d2bb70ec4de6d14a5a4fcda3c#diff-f1186f61e236326ea439a6fc0213f471 breaks the Event Log tab's functionality in neo-gui-developer.

It doesn't look like there is a way to add an event handler from the top-level form class if t

[2017-11-03 15:51] birmas commented on #98
Second this - have had to work around by declaring those members as static again which is not ideal.

[2017-11-06 07:39] erikzhang commented on #98
1. Add handler to StateReader.Default.Notify, for verification.
1. Add handler to Blockchain.Notify, for application.
1. Add handler to StateMachine object in https://github.com/neo-project/neo/blob/master/neo/SmartContract/ApplicationEngine.cs#L265, for test.

[2017-11-08 06:11] xflytang opened #99 "About neo upgraded to dotnetcore2.0 can not be synchronized"
neo upgraded to dotnetcore2.0 can not be synchronized

[2017-11-08 06:31] xflytang commented on #99
TcpRemoteNode.cs
In ReceiveMessageAsync，SendMessageAsync function, donetcore1.0 Creates an awaitable task that asynchronously yields back to the current context when awaited. but donetcore12.0 not create, So need to add "Task.Yield()"

`                 await Task.Yield();
`
`
                 return await Message.DeserializeFromAsync(stream, source.Token);
`

`
                 await Task.Yield()

[2017-11-08 16:59] khelle opened #100 "Not able to run NEO"
HI, I am not able to run NEO on Ubuntu 16.04. I have installed all dependencies and .NET, and when I try to start the program via:

**dotnet neo-cli.dll**

I get following error:

[code]

Running **dotnet -d neo-cli.dll** gives me:

[code]

**dotnet --info** gives me:

[code]

I tried several NEO versions, tried several .NET installations includning v1.* and v2.*, tried NEO ubuntu version ,portabl

[2017-11-09 02:53] erikzhang commented on #100
Duplicate of https://github.com/neo-project/neo-cli/issues/42

[2017-11-12 04:25] zhjjj opened #103 "Claim Problem"
Hi
I've got some problems about claim.
1、Is there any other way to get the claimed and unclaimed gas amount of an address except the client command 'show gas'?  Can I get that through some JSON-RPC api or I have to calculate them by myself?
2、Can I send a Claim Transaction by JSON-RPC 'sendrawtransaction'? I tried that but it returned error 'Error: broad tx not correct'. I've try some way to confi

[2017-11-14 09:22] Badeindi opened #104 "Translating the website into german language"
Being a German native speaker I'd like to propose the translation of the website into my language. If NEO want's to penetrate German markets as well information about it needs to be translated.

[2017-11-14 09:48] wlalele opened #105 "Translating the website into french language"
I just saw the issue #104 , I can do it for the french market if you guys want to

[2017-11-15 02:50] dgcpamd opened #106 "Wallet shows 0 balance"
Hello-  I purchased 2 NEO about a week ago and have also claimed some GAS.  However, when I opened my Neon Wallet a few minutes ago it shows a 0 balance.  I've tried refreshing, but nothing changes.    Is there anything else I can do?

[2017-11-16 06:23] chenzhitong opened #107 "Can't rebuild index in branch "dotnetstandard2.0""
Can't rebuild index in branch "dotnetstandard2.0".

![2017-11-16_14-14-13](https://user-images.githubusercontent.com/6295602/32876761-36f6f2b6-cad9-11e7-970a-9658d71be123.jpg)

@PeterLinX says neo-gui has the same problem.

[2017-11-17 06:50] erikzhang commented on #104
You can contribute to NEO website at https://github.com/neo-project/neo.org/tree/develop
Or contribute to NEO documentations at https://github.com/neo-project/docs

[2017-11-17 06:50] erikzhang commented on #105
You can contribute to NEO website at https://github.com/neo-project/neo.org/tree/develop
Or contribute to NEO documentations at https://github.com/neo-project/docs

[2017-11-17 06:56] erikzhang commented on #106
You can get help for neon-wallet from https://github.com/CityOfZion/neon-wallet/issues

[2017-11-17 09:54] Badeindi commented on #104
Thanks a lot for replying Erik! I'll try to give it my best! Regards MichaelAm 17.11.2017 7:51 vorm. schrieb Erik Zhang <notifications@github.com>:You can contribute to NEO website at https://github.com/neo-project/neo.org/tree/develop
Or contribute to NEO documentations at https://github.com/neo-project/docs

—You are receiving this because you authored the thread.Reply to this email directly, vi

[2017-11-17 09:56] #106 closed

[2017-11-17 09:57] #105 closed

[2017-11-17 09:57] #104 closed

[2017-11-17 09:58] #91 closed

[2017-11-17 09:59] AshRolls commented on #103
@zhjjj Please join the #develop channel in slack where we will be able to assist you.

[2017-11-17 09:59] #103 closed

[2017-11-19 14:46] Sajjon commented on #58
Is there any guide for developing smart contracts using Kotlin on macOS?

[2017-11-19 14:58] notatestuser commented on #58
@Sajjon I used macOS to develop the contracts for my dApp in Kotlin. You could strip out my code and start from there. Take a look: https://github.com/notatestuser/chainline-contracts-kt

[2017-11-21 08:34] songhungbk opened #109 "Catch transaction when send Neo"
Hello everybody, I have node on Amazon. Now i want to catch any transaction come to address on my node, I find on website Neo but i don't find any solution for catch transaction like that. Please help me. Thanks very much.

[2017-11-21 14:23] erikzhang commented on #109
You can check the documentation at http://docs.neo.org/en-us/node/api.html

[2017-11-21 14:41] AshRolls commented on #109
Please also join slack #develop channel where you can discuss with other members

[2017-11-21 14:41] #109 closed

[2017-11-23 03:03] #107 closed

[2017-11-23 08:42] #95 closed

[2017-11-23 08:43] erikzhang commented on #99
fixed in b88846ea997ba3fe8d4a58bf2dbd0f970d4a2e8f

[2017-11-23 08:43] #99 closed

[2017-11-23 09:35] erikzhang opened #112 "implement NEP: Wallet Standard"
This NEP describes a wallet standard that allows the wallet files to be shared between the various implementations of NEO.
https://github.com/neo-project/proposals/pull/13

[2017-11-23 09:38] erikzhang opened #113 "implement NEP: Dynamic Contract Invocation"
This NEP Proposal outlines a mechanism whereby a Smart Contract is provided the ability to invoke other Smart Contracts not known until runtime, rather than being limited to invoking only Smart Contracts that are defined at compile time. In order to retain the ability for Smart Contracts to interface with a future Dynamic Sharding process, included is a proposed specification to be used in the cre

[2017-11-23 09:52] erikzhang opened #114 "more APIs for smart contract"
We need more APIs for smart contract:

- [x] Neo.Runtime.GetTime
Use this API to get the block timestamp that is being persisted, or latest block timestamp + 15s.

- [x] Neo.Runtime.Serialize, Neo.Runtime.Deserialize
Serialize the top item on the evaluation stack into a byte array, or deserialize a byte array into a stack item. This is very helpful for storing items into contract storages.

- [x]

[2017-11-23 09:55] erikzhang opened #115 "increase tps"
Optimize network protocol, consensus algorithm and IO mechanism to improve TPS.

[2017-11-23 09:58] erikzhang opened #116 "Improve Signature Verification Performance"
Rewrite the algorithm of signature verification to replace the default implementation of the system. This will improve the performance of signature verification.

[2017-11-23 11:18] shargon commented on #116
But i think that the default implementation can't generate a Public Key from your random private key. This implementation, generate both, private and public key.

[2017-11-23 13:15] localhuman commented on #114
Could we also add:

4. Neo.TransactionOutput.ContainsUnspent
- Through this API, we can determine if a Transaction Output contains unspent coins ( uses https://github.com/neo-project/neo/blob/master/neo/Implementations/Blockchains/LevelDB/LevelDBBlockchain.cs#L166)

[2017-11-23 13:29] localhuman opened #117 "Additional VM OpCodes"
For programming Smart Contracts, it would be beneficial to have the following OpCodes:

**ARRAY_REVERSE**
- Reverses the current array on the stack

**ARRAY_APPEND**
- Adds an item to the end of an array

[2017-11-23 14:04] shargon commented on #117
ARRAY_APPEND must grow the array (length +1) or how is defined the last position?

[2017-11-24 03:32] erikzhang commented on #114
@localhuman What about `Neo.Transaction.GetUnspentCoins`? Is it better?

[2017-11-24 04:51] localhuman commented on #114
That would be perfect 👍

[2017-11-24 13:11] zhjjj commented on #103
@AshRolls So how to join the slack channel? It seems that the invite link not work any more. https://www.reddit.com/r/NEO/comments/6u99ci/slack_channel/  tells me "invite_limit_reached"

[2017-11-24 16:58] BrunoFreitasgit opened #118 "Not able to build Hello World contract"
I'm getting an exception when building the smart contract "hello world" template from NeoContractPlugin on Visual Studio 2017.
![smartcontracterror](https://user-images.githubusercontent.com/17299848/33219143-b09bb4c0-d138-11e7-9d91-d084cb1bbe18.PNG)

[2017-11-24 17:02] BrunoFreitasgit commented on #112
Can we start on implementation or we need to wait for the acceptance of the Wallet Standard on the proposals repo?

[2017-11-24 17:27] BrunoFreitasgit commented on #118
Note: already have "neon.exe" added to system variables

[2017-11-24 17:28] #118 closed

[2017-11-24 17:29] BrunoFreitasgit commented on #118
I had to restart visual studio to have make the project compilable. My bad

[2017-11-24 18:59] canesin commented on #112
@BrunoFreitasgit The proposal need to be refined, we are implementing and testing how that should look like in neon-js, take a loot in: http://cityofzion.io/neon-js/

[2017-11-24 21:07] BrunoFreitasgit commented on #112
@canesin Okok, thanks. I'm working on a class library with only the implementation of the wallet standard (as it was on the proposal), so client-side projects made in C# only need to reference it to use it. Right now it's a separate project (and it can be transform to a nuget package for easy usage), but it easily adapted to integrate with the original neo project. Don't know if they are open for

[2017-11-26 15:32] snowypowers commented on #112
I have a trial implementation of NEP Wallet on `feature/nep-wallet` in `neon-js`. [Link](https://github.com/CityOfZion/neon-js/blob/feature/nep-wallet/src/wallet/Wallet.js)

Since it is in JSON form, I made use of JS features (basically `JSON.stringify` and `JSON.parse`) so it was really simple. There is not much functionality attached to the Wallet object, most of the functionality is concentrate

[2017-11-26 18:58] rywem opened #119 "Cross platform development - configure Visual Studio for Mac"
Configure the project to be multi-platform compatible.

[2017-12-05 03:13] localhuman commented on #114
There is also no current way to get the height/Index of a `Block` or `Header`.  Shall we add `Neo.Header.GetIndex`?

[2017-12-05 04:05] erikzhang commented on #114
It's very strange why it's not there.

[2017-12-07 15:10] shargon commented on #115
I think that something like this:

https://github.com/neo-project/neo/pull/93/commits/ab1e26987d2a8e6c394a6ea9d8b31fd83efc4bcc

And maybe read the magic, only the first time:

https://github.com/shargon/neo/blob/ab1e26987d2a8e6c394a6ea9d8b31fd83efc4bcc/neo/Network/Message.cs#L40

Could save bytes and improve the network protocol

Perhaps, we could check the version to act one way or another, to ma

[2017-12-07 15:36] shargon commented on #116
[code]

[2017-12-07 15:41] shargon commented on #116
In fact, in the last release with Net47, use the native version
![image](https://user-images.githubusercontent.com/3167973/33723610-6866732c-db6d-11e7-8859-4d0216903882.png)

This issue still open?

[2017-12-09 23:53] king-smith opened #124 "Storage.Put() overcharging GAS fees"
Storage.Put() currently charges a minimum GAS fee of 1, no matter how much data is actually written. I'm unsure if this is intended but it seems incorrect based on the documented system fees which indicate 1 GAS per KB: http://docs.neo.org/en-us/sc/systemfees.html

This line: https://github.com/neo-project/neo/blob/master/neo/SmartContract/ApplicationEngine.cs#L388

If unintended, the formula coul

[2017-12-11 04:42] erikzhang commented on #124
You are right, the document should be updated.

[2017-12-12 03:59] king-smith commented on #124
Alright, thank you for clarifying 👍

[2017-12-12 07:11] metachris commented on #124
What about leaving this issue open to track it and the progress, and only close it after the document has been updated?

[2017-12-12 12:32] #74 closed

[2017-12-12 12:33] #85 closed

[2017-12-12 12:33] #98 closed

[2017-12-12 12:38] #113 closed

[2017-12-12 12:39] #112 closed

[2017-12-13 04:52] #117 closed

[2017-12-13 05:04] localhuman commented on #117
🎉

[2017-12-18 12:43] king-smith commented on #124
Document has been updated by https://github.com/neo-project/docs/pull/258, closing this.

[2017-12-18 12:43] #124 closed

[2017-12-23 18:19] localhuman opened #128 "[Feature Request] Smart Contract storage prefixed get/delete"
At the moment, dealing with collections of storage items can be difficult to manage.  This leads to costly implementations for lookup of stored items, and makes it difficult to delete stored items.

If the API enabled prefix based lookups, and prefixed based deletions, SC storage operations would be much easier to manage.

Example:
An SC wants to store addresses that did something in a certain blo

[2017-12-23 18:21] Ejhfast commented on #128
We were also floating the idea of a negative GAS cost for deletion, to incentivize removing unneeded storage from the VM. Unclear how this would play out with the 10 free GAS and prefix-based deletion, but will be thinking more.

[2017-12-23 21:24] deanpress commented on #128
I'd imagine this would be great for semi-relational queries with 'nested' prefixes as well i.e:
[code]

Delete items by block height:
[code]

Delete items by block height containing specific address:
[code]

[2017-12-24 02:05] Relfos commented on #128
@Ejhfast but deleting of a key from storage would not free anything at all in the blockchain, right?
Because due to the way the blockchain work, every value that was at a certain key in a certain point in time is stored, so deleting a key or just not touching it anymore takes the same disk space.

[2017-12-24 02:18] localhuman commented on #128
It would be deleted going forward.  It would still exist in the sense that if you synced the chain from the start, the value would exist for the blocks between when the value was created and when it was deleted.

[2017-12-24 02:19] Ejhfast commented on #128
I responded in the slack. It would obviously not delete the record of
invocation transactions on the blockchain, but it can lessen the amount of
data that needs to be managed by a node in memory (or on disk if "current
state" is being cached there).

On Sat, Dec 23, 2017 at 9:05 PM, Sérgio Flores <notifications@github.com>
wrote:

[2017-12-24 03:56] erikzhang commented on #128
We can add new APIs like this:
[code]

[2017-12-30 14:16] lansana opened #131 "NEO team, please help"
Hey guys, I know this is slightly off topic, but can't find any other means to contact NEO team directly.

There is a coin called DeepBrain Chain (DBC) that just ICO'd a couple of days ago. They are advertising that NEO invested $1m into them.

Is this true?

Please answer this, thanks. Lots of people may be getting scammed by this ICO...

[2017-12-30 14:58] fl0wjacky opened #132 "Maybe this cause NEP5 token transfer failed"
I make transactions to transfer a NEP5 token from address A to B,when the value(Fixed8 form)'s length less of 8 bytes, sometime the transfer failed.
But when I fixed the value's length to 8 bytes, the transfer always success.

[2017-12-31 14:37] erikzhang commented on #132
How do you make the transactions?

[2018-01-01 02:32] fl0wjacky commented on #132
Like this
Transfer 0.1 RPX From AUHPEE3L3BoLdfsVfJrZ7hmHJAkYPw1pDi to AHZDq78w1ERcDYVBWjU5owWcbFZKLvhg7X

Failed:
d101
58
03 809698
14 138bb1207f869b6c08a6fbd911251fcbf8194aa9
14 893644048d69c0329720a1283eaaab6f1d2ed2dc
53c1
08 7472616e73666572
67 f91d6b7085db7c5aaf09f19eeec1ca3c0db2c6ec f1 66 0fccd92f5517d982
0000000000000000
02 20 893644048d69c0329720a1283eaaab6f1d2ed2dc
f1 05 4f5443474f
0000

S

[2018-01-02 01:19] erikzhang commented on #132
809698 is a negative number. So it failed.

[2018-01-02 11:06] pyojaehun opened #134 "This issue has been resolved."
Confirm Transfer
Transfer failed to send 20,000 DBC to address:
APtLg4PWpnJvJsZdLUuwP5gNwwc2YnXioT

Error: Unknown error.

[2018-01-02 11:25] #134 closed

[2018-01-02 13:00] Tiny-zhongwen opened #135 "where is 'libleveldb.dll' and 'sqlite3.dll '?"
where is  'libleveldb.dll' and 'sqlite3.dll '? I can't find them.Please give me a complete link.thx!

[2018-01-02 13:13] notatestuser commented on #135
They can be found in the neo-cli release package here: https://github.com/neo-project/neo-cli/releases

[2018-01-02 13:34] Tiny-zhongwen commented on #135
I downloaded 'neo-cli-centos.7-x64.zip', but I still can't find them. Can I download it on the Internet? What version of it?

[2018-01-03 05:11] erikzhang commented on #135
Use yum to install leveldb on centos:

[code]

More instructions for installing neo-cli, see https://github.com/neo-project/neo-cli/issues/42

[2018-01-03 09:16] fl0wjacky commented on #132
So what's the difference between negative number and positive number?

[2018-01-03 09:23] erikzhang commented on #132
809698 => -6777216
80969800 => 10000000

[2018-01-03 09:34] fl0wjacky commented on #132
Positive numbers in NeoVM end up with byte '\x00', is that right?

[2018-01-03 10:02] erikzhang commented on #132
Do you know what is "sign bit"?

[2018-01-04 12:12] #100 closed

[2018-01-04 12:13] #132 closed

[2018-01-08 02:40] pyojaehun opened #137 "help to me too plz"
What should I do if I can not check the transaction in Neo Tracker for a few days?

My neo address is AagRLNovbsDFcvruAePD3qq4gZn5DjkNni and no transaction is caught.

The transaction is ca6d111c7cd8a4b7e172a384128d89d7eef751fc6fc8c920ffc197082fd8e2a3

I tried to send Neo and I gave the transaction a transaction number, but the transaction is not detected. (Neo Tracker Search)  Also Neo is not tra

[2018-01-08 11:28] pyojaehun commented on #137
The issue has been resolved. If you experience any of these problems, please use a neon wallet. You can also solve by using the GUI wallet.

[2018-01-08 11:29] #137 closed

[2018-01-08 16:34] lovery opened #138 "Unable to apply for NEO&GAS on the TestNet"
I'm not able to find how should I create a NEO Public key. I've created a wallet with your app for Linux and I get an address, encrypted key and private key, unfortunately non of those keys didn't match the form validation which is `data-val-regex-pattern="0[0-9|abcdef]{65}"`.
How should I generate a public key, which match the form validation?

[2018-01-08 16:40] jonatanblockchain commented on #138
Did you try the command `list key` to get the pub key?
 http://docs.neo.org/en-us/node/cli.html

[2018-01-08 16:54] lovery commented on #138
Thank you, this worked.

[2018-01-08 16:54] #138 closed

[2018-01-09 05:37] pythugg opened #140 "[Feature] Add Opcode for list remove"
Append is working! Remove would be a great addition to have 👍

[2018-01-09 07:04] erikzhang commented on #140
Can you port this to https://github.com/CityOfZion/neo-python ?

[2018-01-09 12:56] localhuman commented on #140
I think the issue is that there is no VM Opcode to remove an item from a list.

[2018-01-09 19:40] zgen1999 opened #142 "Good afternoon, help me figure it out! do not see my balance and still here such error gives out! could not retrieve balance!!!"

[2018-01-09 22:18] shargon commented on #142
Could you detail the problem?

[2018-01-10 00:46] erikzhang commented on #140
So, can you port this issue to https://github.com/neo-project/neo-vm?

[2018-01-10 00:55] erikzhang commented on #142
Duplicate of neo-project/neo-gui#140

[2018-01-10 00:55] #142 closed

[2018-01-10 16:33] csggene3 commented on #22
Was this a functional solution? Why is this still open? It seems like these boards went very quiet around November. I hope that's not an indication of the project at large. I'm sure it's easy to figure you can sell now and worry about some new project later; just speculating of course but the dates and events correlation suggests it further.

[2018-01-10 16:40] jonatanblockchain commented on #22
NEO prívate chain using Docker
https://github.com/CityOfZion/neo-privatenet-docker

Compile NEO smart contracts using Docker.
https://github.com/CityOfZion/neo-compiler-docker

[2018-01-10 18:43] denniss-mishchuk opened #143 "Как включить оперативную(JIT)отладку"
Подробная информация об использовании оперативной
(JIT) отладки вместо данного диалогового
окна содержится в конце этого сообщения.

************** Текст исключения **************
System.NullReferenceException: Ссылка на объект не указывает на экземпляр объекта.
   в Neo.Implementations.Wallets.NEP6.NEP6Wallet..ctor(String path, String name)
   в Neo.UI.MainForm.打开钱包数据库OToolStripMenuItem_Click(Obj

[2018-01-11 03:57] juventusfc27 opened #144 "My Neo Tracker Wallet cannot claim GAS and send NEO to binance"
i posted my problem on reddit/NEO and NEO's telegram group but nobody could help me.
my apologies if this is the wrong place to ask.

my Neo Tracker Wallet cannot claim GAS and send NEO to binance, no matter how many times i tried and waited. i have 1 NEO and i understand that all transactions involving NEO are free.

my wallet address: AHgt5zqNwAFuZRs43pTE9wY94Ttf8KRmLs
Unclaimed: 0.00020436 GAS

[2018-01-11 04:09] csggene3 commented on #144
I checked your account on neotracker.io and saw that you had a claim go
through about 15 hours ago, it also looks like your 1 NEO is safe there and
your claimed GAS from today is there as well. The unclaimed GAS you are
attempting to retrieve now is also safe and tied to your wallet ID, so it
won't be lost or not received. GAS can be claimed every 5 minutes, but does
not have to be. You will not l

[2018-01-11 15:10] shargon commented on #140
It could be easy to add.
Pop index and length, then remove it.

[2018-01-11 16:46] bitcodernull opened #145 "neo Invocation process failed"
I send many Invocation transations, but some of them failed
 I do not know why, or  how can i find the reasons of the failure

the failed transactions example:
c5e6edbcf4dda16e9a8530b4130e0ed447e4bfe6e29397fd441c098364a39d31
4834092b35c188ae3b69717e70380964e94517575324bd6e57a994d60f756edb
fa87213545b1304b7e931b134b039e86b45322577c9402d3f40d124a96d6a6f1

[2018-01-11 18:25] erikzhang commented on #145
Duplicate of neo-project/neo-cli#94

[2018-01-13 11:14] ravi6098 opened #146 "Neo transaction stuck in block chain"
Sir, I sent noe from binance to neo Wallet but didn't receive..
I have made two transactions details of which are given below.
1st..
Address - AbJ31CWbf1cGCrc919LMPiRgRLHC3oLCL3
Txid - e7e170c0be413f0412f3d51708b29cbd2b6fd78102f5a8a4520e22bb3be7e956
2nd
Address - AWqjfCDcVRFqAJM8BZPpxaUJZmdVjGf29q
Txid - 48051c3ae9085df54b974f8c92d848d150d48d966f98fe5e9e08e17969d2cdd1

[2018-01-13 14:51] ravi6098 commented on #146
Please do sumthing

[2018-01-14 03:12] ravi6098 commented on #146
Why nobody is replying?

[2018-01-14 07:05] dicarlo2 commented on #128
+1 this would be very useful. Any updates on this?

[2018-01-14 08:49] canesin commented on #146
1 - has 10 NEO: https://neoscan.io/address/AbJ31CWbf1cGCrc919LMPiRgRLHC3oLCL3
2 - has 5 NEO: https://neoscan.io/address/AWqjfCDcVRFqAJM8BZPpxaUJZmdVjGf29q ..

[2018-01-14 19:53] got3nks opened #148 "Cannot start NEO node on Ubuntu 16.04"
Installed .NET SDK v1.0.1:

[code]

[code]

Cannot start the node. Those are the errors thrown:

[code]

Tried to run `dotnet restore` and those are the errors:

[code]

[2018-01-14 23:44] belane commented on #148
I think the following method is easier, I hope it helps you.
From a very fresh Ubuntu 16.04 install;

[code]

[2018-01-14 23:56] got3nks commented on #148
I want to run a full node, not just the wallet.

[2018-01-15 03:35] saltyskip commented on #114
Is there a plan for Get Unspent Coins to be added as an RPC call? Currently light wallets are relying on the COZ API https://github.com/CityOfZion/neon-wallet-db to serve this data.

I think it would be more efficient for the UTXO's to be added to either the getAccountState or its own seperate RPC. This would make light wallet reliability much more consistent. Thoughts?

[2018-01-15 06:01] jonatanblockchain commented on #148
neo-cli is a full node
http://docs.neo.org/en-us/node/introduction.html

[2018-01-15 10:06] got3nks commented on #148
Neo-cli is working, thank you.

[2018-01-15 10:18] belane commented on #148
As @jonatanblockchain says, neo-cli is a complete node.
Anyway you need a higher version of .Net, 2.0.5 should work well.

Also you have a good guide with recommendations at https://github.com/CityOfZion/standards/blob/master/nodes.md

[2018-01-15 14:06] localhuman commented on #140
Moved.

[2018-01-15 14:06] #140 closed

[2018-01-15 14:07] localhuman commented on #131
This is not an issue for Github.

[2018-01-15 14:07] #131 closed

[2018-01-15 14:10] localhuman commented on #114
@saltyskip This issue is for additional smart contract API, please open in a separate issue.

[2018-01-15 14:11] localhuman commented on #144
If you have not solved this problem yet, please open a ticket in the #support channel in discord:

https://discord.gg/CCFA7c

[2018-01-15 14:11] #144 closed

[2018-01-15 14:12] localhuman commented on #146
Please use the NEO discord #support channel for requests such as this:

https://discord.gg/CCFA7c

[2018-01-15 14:12] #146 closed

[2018-01-15 18:22] belane commented on #148
You can run a node through neo-cli or neo-gui, neo is just the core with the network and blockchain logic (...)

[2018-01-15 18:32] #148 closed

[2018-01-16 01:41] saltyskip opened #149 "RPC Command For GetClaims"
Problem: Currently light wallets are relying on CoZ API in order to make claims and transactions.

https://github.com/CityOfZion/neon-wallet-db

The two methods in particular are getBalance and claims. Although this API works well, it's does not have as good as availability as necessary. Many issues related showing zero balance, being unable to make a claim, or being unable to send are related to

[2018-01-16 01:53] saltyskip opened #150 "Add UTXO set to getAccountState RPC"
This is a follow up to #149, in order to easily build out a transaction a UTXO set should be included in the getaccountstate. An alternative solution is to have a separate RPC command for the UTXO set. I propose adding the set to getaccountstate RPC below

getaccountState is updated with the UTXO set

[code]

[code]

[2018-01-17 08:25] #22 closed

[2018-01-17 08:25] #61 closed

[2018-01-17 08:32] #135 closed

[2018-01-19 00:59] hipstersmoothie commented on #24
Do you know where you can find the public key? I can't seem to get it. On a mac

[2018-01-19 22:17] AshRolls opened #152 "v2.6.0 Connection problems - mainnet"
We are observing nodes running v2.6.0 having connection problems with mainnet. This is causing nodes to frequently (~1-2 hours) fall behind in their highest block and need to be restarted.

Debugging I have noted the following when stalled (0 peers)
`TcpRemoteNode.cs` `ConnectAsync()` line 42 is catching a `SocketException` from remote node `"No connection could be made because the target machine

[2018-01-20 07:19] shargon commented on #152
[code]

Any info of this bug @erikzhang ?

[2018-01-20 11:12] AshRolls commented on #152
We shouldn't be using `async void` methods at all really, it blocks the catching of exceptions, see https://msdn.microsoft.com/en-us/magazine/jj991977.aspx

[2018-01-20 11:54] erikzhang commented on #152
I don't think it's caused by `async void`.

[2018-01-22 16:01] carlosrfernandez commented on #152
Don't know if it fixes the issue or not, but recommend always to return Task instead of `async void` ;)

[2018-01-22 16:12] AshRolls commented on #152
@carlosrfernandez yes we will change that in a seperate PR, but it is not causing the particular problemswe have seen for this issue.

[2018-01-23 17:13] GotWoods opened #153 "Contract.Migrate not destroying the original contract"
When I invoke this in my contract:

[code]

Both the original hash and the new hash now work. Both contracts have the same values in storage after the migration.

This would be great for a Contract.Fork method (please add this) but it looks like Migrate is supposed to delete the original contract and empty out the storage for that contract

[2018-01-23 20:37] MashiRod opened #154 "Neo GUI- funds transfered to watch only address"
I used the Neo-GUI to make a Neo transfer from my wallet to my Bittrex account. However, the amount I tranfered was credited on my Bittrex account without problems BUT the balance of my Neos on the wallet were sent to a new wallet address and appears now as "watch only address" in the Neo-GUI!

How can please help to get access to the Neos on the "watch only address" wallet.

[2018-01-24 00:41] erikzhang commented on #154
Duplicate of neo-project/neo-gui#165

[2018-01-24 00:41] #154 closed

[2018-01-25 08:49] ixje opened #156 "[2.6.0] gettxout RPC does not work"
I'm using the host: https://seed1.neo.org:20331
which runs v2.6.0
[code]

Getting block 730901 from TestNet, I expect the outputs below (ommited some parts of the response for readability) (see also on a block explorer [here](https://testnet.neotracker.io/tx/0ff23561c611ccda65470c9a4a5f1be31f2f4f61b98c75d051e1a72e85a302eb))
[code]

Using `gettxout` I get a `null` result.

[code]

where I according

[2018-01-25 10:13] erikzhang commented on #156
The RPC method `gettxout` returns unspent output only. If it is spent, the mothod returns `null`.

[2018-01-25 10:29] ixje commented on #156
@erikzhang thanks for clarifying. Would it make sense to throw an RpcException like done in some other places? [for example here](https://github.com/neo-project/neo/blob/master/neo/Network/RPC/RpcServer.cs#L160-L161)

pseudo code
[code]

I can PR the above, or if you wish to keep it as `null` then I'll update `docs.neo.org` to elaborate on the return values.

[2018-01-25 11:20] erikzhang commented on #156
Please update http://docs.neo.org.
Thanks!

[2018-01-25 13:06] AshRolls commented on #152
We have seen the following when a node fails... `System.Net.Sockets.SocketException: Too many open files in system
   at System.Net.Sockets.Socket..ctor(AddressFamily addressFamily, SocketType socketType, ProtocolType protocolType)
   at Neo.Network.TcpRemoteNode..ctor(LocalNode localNode, IPEndPoint remoteEndpoint)
   at Neo.Network.LocalNode.<ConnectToPeerAsync>d__55.MoveNext()`.

On Linux, open

[2018-01-26 04:53] erikzhang commented on #152
The sockets will be closed at https://github.com/neo-project/neo/blob/master/neo/Network/TcpRemoteNode.cs#L55

[2018-01-26 07:51] shargon commented on #152
Do you have the number of clients there were at that precise moment?

[2018-01-26 08:48] belane commented on #152
@AshRolls Have we tried to increase /etc/security/limits.conf and /etc/sysctl.conf as workaround?

[2018-01-26 11:40] AshRolls commented on #152
On my Ubuntu 16.04 nodes neo-cli is running under supervisord which defaults to a max of 1024 files. I have added `minfds=65356` to the configuration file to see if that helps.

@belane I have also added `fs.file-max = 100000` to sysctl.conf

[2018-01-26 11:47] AshRolls commented on #152
@erikzhang Yep I have been looking at that code. We should really be doing a 'socket.Shutdown(SocketShutdown.Both)` before we dispose of the socket, but when I add this to the disconnect method we cause exceptions in the `Task.WaitAll(...)` in `ConnectToPeersLoop()`.

[2018-01-26 18:06] revett commented on #128
[NeoAuth](https://github.com/neoauth/smart-contract) needs this badly. I like the idea of ephemeral data that only lives for a certain period of time before being removed (e.g. x number of blocks).

[2018-01-26 20:23] shargon commented on #128
This feature is **necessary**

[2018-01-29 15:29] curatedcryptocurrencynews opened #158 "NEO missing from Balance? -- Ledger Nano S Wallet NOT reflecting correct balance"
Hello,

I sent two (2) NEO from Binance to my Ledger Nano S wallet, however after approximately an hour, my balance is still not reflected on my NEO Ledger Nano S. When i check the scan, it shows that it was successfully sent and Binance shows a "successful" confirmation on their end as well.

Txid: e1aa2ceaabcd774d60fe2e65938f950a315d1c18ca7a04dad986aa9fbbf17f6d
Link: https://neoscan.io/transacti

[2018-01-29 16:13] OrEagle97327 commented on #158
This issue involves eth, xrp, and neo, that we have been able to gather.
https://github.com/kvhnuke/etherwallet/issues/1528

We currently have support tickets open with Ledger.
Working together we can find the solution.

I know of dates back to early December.  What date did your issue occur?

[2018-01-29 16:20] curatedcryptocurrencynews commented on #158
Hmm.. I think we be having different issue..?

My issue just occurred today. Two NEO were sent from Binance to a Ledge Nano S this morning. A confirmation was received, and the NEO is trackable here: https://neoscan.io/address/AJzkU2n7g52z6PYnEzQVgmFBQM3mNSYeoj

I seems as though NEOSCAN has been stuck on block 1,868,868 for the last few hours. I've been able to successfully use a Ledger nano S fo

[2018-01-29 16:33] esheds commented on #158
same problem here

[2018-01-29 16:38] livesloridefast commented on #158
Neon Wallet also stuck on block 1,867,982

[2018-01-29 17:34] curatedcryptocurrencynews commented on #158
My wallet has now refreshed and all of my assets are relfected. Yours?

[2018-01-29 17:45] esheds commented on #158
works good 4 me now. can transfer between wallets. didnt try claiming gas yet

[2018-01-29 18:07] livesloridefast commented on #158
my wallet is correct. Claiming GAS still fails, but that's a tiny problem
with my token count.

On Mon, Jan 29, 2018 at 9:34 AM, Curated Cryptocurrency News <
notifications@github.com> wrote:

--
Sam W Beal Ph.D <https://www.linkedin.com/in/samwbeal>.
Cell: 650-224-1503
Skype: sam.beal

[2018-01-30 03:01] RavenXce opened #159 "[Request] Price Storage.Put gas cost by byte instead of KB."
Currently, due to how storage.put operations are calculated, there is a minimum of 1gas charged regardless of how small the stored payload is. This makes it unfeasible to run any sort of smart contracts with more than basic functionality.

To give an example, a basic 2 way transfer where nep5 assets are transferred from one user to two others (say to the intended target plus a facilitator fee) alr

[2018-01-30 03:09] erikzhang commented on #159
Can you port this proposal to https://github.com/neo-project/proposals?
In addition, it would be better if an overall improvement of the current pricing system were to be made.

[2018-01-30 03:11] RavenXce commented on #159
Okay sure, will do!

[2018-02-04 00:25] beshogun commented on #58
I just went through the city of Zion  https://www.youtube.com/watch?v=2EYK1ogr5i4 guide a few times and keep getting this build error,

Bens-MBP:target ben$ dotnet /Users/ben/neo-compiler/neoj/bin/Release/netcoreapp1.1/neoj.dll /Users/ben/Downloads/neoj_osx/HelloWorld.class
Neo.Compiler.JVM console app v2.0.3.0
Convert Error:System.IO.FileNotFoundException: Could not find file '/Users/ben/Download

[2018-02-05 01:13] saltyskip commented on #149
@erikzhang can you confirm or deny whether 149 and 150 with those data structures would be accepted into NEO if built. Our team can build out these adjustments to the RPC calls if that is the case

[2018-02-05 04:46] erikzhang opened #164 "[Feature Request]Plugin APIs"
We need a set of plugin APIs to support personalized features such as #162.

[2018-02-05 04:57] erikzhang commented on #149
I will build a set of plugin APIs to make it be a CLI plugin. #164

[2018-02-05 08:51] erikzhang commented on #128
I have added new Iterator APIs to support prefixed storage operations. See a234978f2fd7cb622513969c582c6d3b054070cb.

[2018-02-05 11:31] superbmilkyway opened #165 "Help Get started C#"
I am following Get Started C#

When I publish neon project, it shows the following error
[code]
The log file is not text. I cannot read the content.
Even with the error I can find the file neon.exe and I copied neon.dll upper folder from neon.exe
Seems like none.exe working correctly.
[code]

After that, I create a .net core 2.0 library project and then install Neo.SmartContract.Framework 2.5.4 pa

[2018-02-06 06:03] talphaj opened #166 "Neo Gui Wallet Issue"
Hello all

today 2/5/18 I tried to make a transfer from the neo gui wallet to an exchange but received the 'unconfirmed transaction' message for several hours.  i was advised to use the rebuild index to reset the transaction, but now the neo is still missing - as well as the gas that i had accumulated (i did not transfer the gas) .  also the transaction log is missing.  would my backup file restor

[2018-02-06 09:27] chenzhitong opened #167 "Memory usage problem of offline synchronization"
Memory usage without offline synchronization packets:
<img width="674" alt="image" src="https://user-images.githubusercontent.com/6295602/35849603-28fafe2c-0b5d-11e8-98f4-5c1d1960388f.png">

Memory usage in offline synchronization:
<img width="761" alt="image" src="https://user-images.githubusercontent.com/6295602/35850181-eb2bcc28-0b5e-11e8-8308-99d13c092c91.png">

Memory usage after offline sync

[2018-02-06 16:05] GotWoods opened #168 "Contract.Migrate fails when a witness check is also run"
The following code terminates abnormally:
[code]
The notify will contain "Starting Upgrade" but never log the "Upgrade Complete". The new contract is not created, nor the existing one destroyed.

The method runs to completion when the block where the witness is checked is removed.

[2018-02-09 10:48] almarax commented on #143
Неплохо бы вопрос по-английски сформулировать. А то даже мне непонятно в чем он.
К тому же в конце текста написано по-русски как это сделать:

приложения или компьютера (machine.config) должен иметь
значение jitDebugging, установленное в секции system.windows.forms.
Приложение также должно быть скомпилировано с включенной
отладкой.

[2018-02-12 04:06] brianlenz opened #173 "JSON-RPC NEP-5 invokefunction calls returning incorrect results"
There is an issue with every single JSON-RPC node (seedX.neo.org, seedX.cityofzion.io, seed8.antshares.org) that is resulting in out-of-date values being returned by `invokescript` and `invokefunction` calls.

I believe this to be the cause of the myriad of NEP-5 token complaints on https://github.com/CityOfZion/neon-wallet about balances not showing.

I've confirmed this issue exists for, at a mi

[2018-02-12 04:08] brianlenz commented on #173
I have forked the neo-python repository and created a branch with a test harness (`test.py`) that can be used to easily reproduce the issues. As you'd expect, it doesn't matter whether you use `invokescript` or `invokefunction`; the results are the same.

https://github.com/brianlenz/neo-python-rpc/tree/rpc-tests

[2018-02-12 07:30] brianlenz commented on #173
Not surprisingly, calls to `getstorage` via JSON-RPC are returning results consistent with the above `invokefunction` calls, as well. For the total supply:
[code]
where `696e5f63697263756c6174696f6e` is the "in_circulation" key, returns:
[code]
`00400952cef801` is `5,550,400`, which is not the accurate `totalSupply`. Per neo-python:
[code]
`b'\x00`\x9f\xd7\xccG\x05'` corresponds to the actual `tot

[2018-02-12 15:25] brianlenz commented on #173
Here's a transaction executed on the blockchain via neo-python that is returning the proper result:
[code]

[2018-02-12 22:14] brianlenz commented on #173
Here's a recent transaction as output by neo-python:

[code]

It seems pretty clearly to store the value for `in_circulation` to `b'\x00\xd0\xa9\x13\x1d\xc2\x06'` (`19,022,800e8`).

Nevertheless, the JSON-RPC call:
[code]
returns:
[code]
`0050fe89cc0703` is `8,530,000e8`.

[2018-02-13 02:06] brianlenz commented on #173
Here's another example. I initiated a `balanceOf` transaction from neo-gui via Invoke Contract for ScriptHash `2e25d2127e0240c6deaf35394702feb236d4d7fc` with params:

- `balanceOf` (`String`)
- [431ed1576ad3c618bb62860dd3dc027357fc680f] (`Array` with one `ByteArray` element)
Here's the output from neo-gui when running Test:
[code]
Here's the output of that [transaction](https://neoscan.io/transact

[2018-02-13 03:01] brianlenz commented on #173
I found one other interesting example of the discrepancy from the RHT SC (`2328008e6f6c7bd157a342e789389eb034d9cbc4`). `totalSupply` is also returning inconsistent results between neo-python and JSON-RPC.

Here's neo-python (actual transaction submitted to blockchain):

[code]
`b'\xad '` is 8,365.

Here's a JSON-RPC call:
[code]
and the result:
[code]
`60ea00` is 60,000, which I understand is the

[2018-02-13 05:26] brianlenz commented on #173
Here's an address that is showing a zero balance on JSON-RPC (and Neon wallet): `AKYZLoqvd2FyiumD8SuTZje6auQkf6pbHj`

But in spite of that, he was able to transfer funds successfully. Here are the logs showing the successful transactions:

[code]

And neo-python shows the proper `balanceOf`:

[code]
`b'\x00@R\xdbi\x1e'` is the proper value (334400e8).

Yet JSON-RPC still says 0:
[code]
[code]

[2018-02-13 05:50] erikzhang commented on #173
Can you believe this? I would say that it is a neo-python bug. I will look into it.

[2018-02-13 06:07] erikzhang commented on #173
Where can I find the source code of SC `2e25d2127e0240c6deaf35394702feb236d4d7fc`?

[2018-02-13 06:08] brianlenz commented on #173
https://github.com/NarrativeNetwork/tokensale-neo-smartcontract

[2018-02-13 08:06] shargon commented on #173
@erikzhang if `testinvoke` works, and `RPC` call fail. Can we trust that the storage is saved correctly? The public sale open in 8 hours

Im dig into it, but without any advance.

[2018-02-13 08:14] erikzhang commented on #173
I think the storage is incorrect. We didn't find the issue on any other SC except `2e25d2127e0240c6deaf35394702feb236d4d7fc`(NRV). So I guess the problem may be in the smart contracts based on nex-ico-template (python).

[2018-02-13 08:21] brianlenz commented on #173
Thanks for your help, @erikzhang!

What is the nature of the storage issue? If the storage is wrong, I don't understand how neo-python is returning accurate results 100% of the time, particularly on transactions submitted to the blockchain? And how would NEP5 transfer transactions function if the storage is truly incorrect?

[2018-02-13 08:44] erikzhang commented on #173
The python nodes store the data in a wrong way, and read it in a wrong way. In this way, they get the "right" results.
Of course, this is only my guess, I will continue to dig into this issue.

[2018-02-13 08:44] shargon commented on #173
This is the raw storage value of `in_circulation` variable:
[code]

![image](https://user-images.githubusercontent.com/3167973/36140492-bbbf0af2-10a1-11e8-9a99-fb9fc729a689.png)

And i think is not the expected (@brianlenz please confirm), but i can't understand, how is possible to obtain the right result with real TX

[2018-02-13 08:53] brianlenz commented on #173
@erikzhang: for what it's worth, this issue never happened in testing on TestNet that we could see. We used Neon wallet with JSON-RPC, and did a full run-through of every feature of the smart contract (with many transactions), checking things in Neon wallet along the way. Never had an issue. The failure rate on MainNet seems to be rather high, so it's surprising none of those tests would have reve

[2018-02-13 09:11] erikzhang commented on #173
I'm replaying all the NRV transactions locally to see how their execution is different from the python nodes. Can someone give me the logs of all the NRV transactions that executed on python node?

[2018-02-13 09:19] brianlenz commented on #173
Sure, I'll work on getting that data right now.

[2018-02-13 09:44] brianlenz commented on #173
Just to be clear, what format at you looking for? The only format I'm aware of is the `sc-events` output from neo-python (some of which I have posted as examples above). Is that what you're looking for?

[2018-02-13 11:33] brianlenz commented on #173
Hi @erikzhang, just checking in to see if you have any updates? In the chance that the issue has to do with older nodes, I'm doing some tests against 2.4.1 nodes on PrivNet now.

[2018-02-13 12:12] brianlenz commented on #173
Quick update on my end. I set up a 2.4.1 docker PrivNet to test with. I've seen zero issues thus far. neo-python reporting all data properly and JSON-RPC reporting all data properly. This is consistent with the behavior we experienced in doing tests against 2.6.0 docker PrivNet during development.

[2018-02-13 12:36] erikzhang commented on #173
[2e25d2127e0240c6deaf35394702feb236d4d7fc.log](https://github.com/neo-project/neo/files/1719891/2e25d2127e0240c6deaf35394702feb236d4d7fc.log)
I've upload the log of all storage operations of NRV. Please check it.

[2018-02-13 13:31] brianlenz commented on #173
Thanks, @erikzhang! The first few transactions look ok, but then I think things go haywire. I picked out one address known to have issues:

https://neotracker.io/address/AKYZLoqvd2FyiumD8SuTZje6auQkf6pbHj

Here's the transaction where he bought the tokens:

https://neotracker.io/tx/f89f51eda6aa87bb9e681e152dee776d21ae0a3acade807c1cefab03b01ea6db

According to the storage logs, that transaction did

[2018-02-13 13:49] dicarlo2 commented on #173
I just want to jump in here real quick and mention that it's certainly possible that NEO Tracker has it wrong. We use a custom node implementation (an early version of NEO-ONE) which definitely had a gas calculation bug in it, and may have other bugs. With that said, it's definitely curious that both neo-python and NEO-ONE are reporting the same results that are inconsistent with the C# nodes.

[2018-02-13 13:50] dicarlo2 commented on #173
I'll take a closer look today to see if I can find the source of the discrepancy.

[2018-02-13 13:57] brianlenz commented on #173
@dicarlo2 thanks for jumping in! From what I understand, neotracker is using the NEP5 `transfer` events to track balances. For the transaction listed above, it seems that there aren't _any_ `Storage.Put` operations. But it would _appear_ that the `transfer` event got logged due to the NEP5 balance showing up? I can't explain how that is possible.

What is even more peculiar is that these users are

[2018-02-13 14:30] dicarlo2 commented on #173
On the former - it’s possible that within the NEO-ONE node, the storage has been erroneously committed along with the transfer events. I’ll look into that soon (on my way to the office).

On the latter - in theory this would be possible with NEO Tracker. Even though the transaction would have failed in the C# nodes, because the previous transaction that gave them the balance failed, NEO-ONE thinks

[2018-02-13 14:55] brianlenz commented on #173
Analyzing the logs, there are a few different types of transactions:

1) Successful `mintTokens` calls. These have 11 lines in the logs. (Example)[https://neotracker.io/tx/9ed550a40e278e88299d65bc13ac27f4373fb78edde7490efc63ddc45bbe14f5]
2) Unsuccessful (partially successful?) `mintTokens` calls. These have only 2 lines in the logs, as outlined above (two `Storage.Get` commands for `sale_pause` an

[2018-02-13 16:38] brianlenz commented on #173
Update: we believe we may have this pinpointed. @localhuman and @dicarlo2 discussed the possibility of GAS fees contributing to transaction completion inconsistency between C# seed nodes and the neo-python/NEO-ONE nodes. The C# seed nodes are likely running out of GAS and aborting whitelisting transactions whereas the neo-python and NEO-ONE nodes are under-calculating the GAS fee and allowing thos

[2018-02-13 17:19] erikzhang commented on #173
The result of that transaction (txid: f89f51eda6aa87bb9e681e152dee776d21ae0a3acade807c1cefab03b01ea6db) is:

[code]

The stack has an empty byte array which means that the function returns `false`.
So it's not a GAS calculation discrepancy.

[2018-02-13 17:25] localhuman commented on #173
@erikzhang

It returns false because a previous transaction for `kyc_register` failed, so the tokens were never minted properly.  That previous transaction failed because of a GAS issue.

[2018-02-13 18:34] localhuman commented on #173
Sounds good.

[2018-02-13 18:34] #173 closed

[2018-02-14 02:47] brianlenz commented on #173
Fix for neo-python is here: https://github.com/CityOfZion/neo-python/pull/220

[2018-02-14 04:11] erikzhang commented on #173
Application log for tx `01f992be33dcc8ebe1dd51058a2b8f511c9088a8d541a72c829382600c736640`:

[code]

[2018-02-14 04:41] brianlenz commented on #173
That confirms it. Transaction failed due to out of gas. It was supposed to have processed 25 more addresses, but failed after 7.

Thanks for all of your help diagnosing, @erikzhang! 👍

[2018-02-17 06:21] pavsh opened #175 "Smart contracts in F# tutorials"
Hi, there is no examples for how to create F# smart contracts for NEO. Is there any documentation?

[2018-02-19 16:38] nakov commented on #165
Just copy the `Neo.SmartContract.Framework.dll` library in your current folder, where your smart contract's DLL file is located.

[2018-02-22 17:42] bargeld100 opened #176 "neo airdrop"
any news on what exchanges support the airdrop?  THANKS!

[2018-02-22 20:22] AshRolls commented on #176
Github is for code issues. Please ask in Discord #support

[2018-02-22 20:22] #176 closed

[2018-02-23 11:29] spytron commented on #88
@birmas can you pls explain how did you do that..

[2018-02-26 20:48] logan99 commented on #144
I am also having the same issue. Not able to claim GAS or send NEO. Anyone know what to do to solve the issue?

[2018-02-27 10:13] shivam2901 opened #178 "Funds getting transferred to another wallet automatically"
I'm getting very strange issue, both in privnet and testnet, whenever I'm doing any transaction. then my  funds are automatically getting transferred to address AQFQM9rr9B1utRGDCmKzYNsnPd6ejFtGcn
this address is same in both test net and priv net case.

Links: https://neoscan-testnet.io/transaction/56aa6133f42a3621a0a83ef66504b900b5b2a2a8a0f6821f5d1b27914cf3682a
https://neoscan-testnet.io/address/

[2018-02-27 10:43] AshRolls commented on #178
Please provide more information... How are you executing the transactions? (neo-cli, neo-gui etc). What was the intended destination address?

[2018-02-27 11:08] shivam2901 commented on #178
See link: https://neoscan-testnet.io/transaction/1066b09fb77bac7cfc10f3a6ca0a5c76db910a6e27c3f0d4cf2e50b63a42dbc8

<img width="473" alt="screen shot 2018-02-24 at 2 05 10 pm" src="https://user-images.githubusercontent.com/34708999/36725500-807b6c38-1bdc-11e8-8550-8f69a4ef7231.png">

where AL2a5Ae3wZU87iJwgB778T3J7CL6qESvgK is my address
whenever I'm receiving funds, on same moment they got transfe

[2018-02-27 12:43] AshRolls commented on #178
What version of neo-cli are you using?

[2018-02-27 13:04] shivam2901 commented on #178
NEO-CLI Version: 2.7.1.0

[2018-02-28 08:13] shivam2901 commented on #178
Any update?

[2018-02-28 08:26] jonatanblockchain commented on #178
The information you provided is a little bit vague.
1. neo-scan can't track privanet nets, only testnet and mainet.
2. I think the screen-capture above is from neon-wallet no neo-cli

Where did you get those initial 1000 NEO?

[2018-02-28 08:32] bhejhaey commented on #178
How

On Feb 28, 2018 4:26 PM, "Jonatan" <notifications@github.com> wrote:

[2018-02-28 08:35] shivam2901 commented on #178
This issue is happening in both
1. In TestNet, I requested NEO and GAS on AL2a5Ae3wZU87iJwgB778T3J7CL6qESvgK from https://neo.org/Testnet/Create. When I track my address then I came to know that I got funds from them but they are getting transferred to unknown address AGQGKFJ7MTMvePZcz1KEmd9UVWzZbRsotC. The screen attached is of NEON wallet showing transaction of TestNet wallet.

I generated addre

[2018-02-28 08:44] bhejhaey commented on #178
Free neo.?

On Feb 28, 2018 4:35 PM, "shivam2901" <notifications@github.com> wrote:

[2018-02-28 08:51] jonatanblockchain commented on #178
1. If you request NEO/GAS (on NEO website) you need to create the contract address. You can only create the contract address using neo-gui, no neo-cli. You probably got a email with this information from NEO
http://docs.neo.org/en-us/node/testnet.html#method-of-getting-test-gas-and-test-neo

2. You can't connect (or send assets) form your privatenet to testnet because are different networks.

[2018-02-28 08:59] shivam2901 commented on #178
1. neo-gui is only for windows, any other way I can get funds on my standard address.
2. I am not sending assets from privnet to testnet, that transaction was only in privnet.

Apart from this, what's the reason for transferring my funds to unknown address, even it is standard.

[2018-03-02 13:02] LeonardoDarkVinchi opened #179 "Need help."
I`ve tried to find your ports in sourse files, but I faild. Can you give me some advice in my research?

[2018-03-04 02:29] taojuntjpp opened #180 "bug 网页端钱包 转账不了 节点https://seed3.neo.org:10331/ 连不上"
bug 网页端钱包 转账不了 节点https://seed3.neo.org:10331/  连不上

https://seed3.neo.org:10331/ net::ERR_TIMED_OUT

[2018-03-05 06:56] shivam2901 commented on #178
Issue is still there.

I made contract address using neo-gui, also created a multi-party signed address.
They transferred me 1000 NEO and 1000 GAS on request but they transferred to same address above.
My address ALpHqinwL497a1b7j5mmvAs4ZkM3Wan4c3 (Nonstandard)

It's transactions:
https://neoscan-testnet.io/transaction/7b0a721d0ce1dba9e4426e7a40a726697d0a48e9782f1b5606e0229fdca08479

https://neosc

[2018-03-05 07:17] jonatanblockchain commented on #178
Have a look to this article:
https://medium.com/@gubanotorious/test-networks-and-fund-requests-for-smart-contract-and-dapp-testing-on-the-neo-blockchain-583a1795412

[2018-03-05 09:39] shivam2901 commented on #178
I think you are not getting my issue, I performed the same as you provide the link.
Please just look at the transactions link I provided.
For every testnet address my funds are getting into AGQGKFJ7MTMvePZcz1KEmd9UVWzZbRsotC address. You can see here [](https://neoscan-testnet.io/address/AGQGKFJ7MTMvePZcz1KEmd9UVWzZbRsotC)

There is problem in neo-cli version or who is initiating this transaction.

[2018-03-05 10:09] c19 commented on #69
this document: http://docs.neo.org/zh-cn/node/private-chain.html
during the transfer from contract address to standard address proceedure.

[2018-03-05 14:35] shivam2901 commented on #178
This issue is same as https://github.com/neo-project/neo-cli/issues/113

[2018-03-05 14:39] bhejhaey commented on #178
How to get NEO AND GAS?

On Mar 5, 2018 10:36 PM, "shivam2901" <notifications@github.com> wrote:

[2018-03-05 20:11] shivam2901 commented on #178
The issue resolved, problem was that I opened the RPC port for public, don't from where withdraw request come from my address to unknown address. I think any how neo-cli notifies that service whenever my address receives funds. When I blocked ports for public, everything works fine.

[2018-03-07 04:06] Kimjingoo opened #183 "What's the status on NeoFS?"
Can we use NeoFS now? I can't find info..

[2018-03-07 04:10] erikzhang commented on #183
It's still in the design.

[2018-03-07 13:13] #183 closed, assigned to nobody

[2018-03-08 17:45] ixje commented on #156
Closing because I updated the documentation that clarifies the issue.

[2018-03-08 17:45] #156 closed

[2018-03-09 06:35] facadev commented on #165
After the dll was copies, the neon.dll asked for mscorlib.dll, which is not available on macOS. So I copied one from Windows, it then prompted System.BadImageFormatException. Any comment on that?

[2018-03-09 11:53] Elpex opened #187 "Web wallet don't sync"
Web wallet (neowallet.cn) don't sync in some time already, 2 weeks at least.
Wallet is showing my correct NEO balance but not GAS amount.

[2018-03-11 16:09] hunjixin opened #191 "help！，Private chain consensus failed,"
4 container run in docker

neo01   172.17.0.2
neo02    172.17.0.4
neo03    172.17.0.5
neo04    172.17.0.6

protocol.json

![2018-03-12 00-10-32](https://user-images.githubusercontent.com/13759392/37255627-e55d3788-2589-11e8-9189-9ee9928acd6c.png)

result：

![2018-03-11 23-52-46](https://user-images.githubusercontent.com/13759392/37255581-4bcef408-2589-11e8-819f-7d37d88b56cb.png)

[2018-03-12 16:27] goktugyil commented on #191
Got the same

[2018-03-12 16:35] goktugyil commented on #191
I got something similar, how can we solve this?

[2018-03-12 21:40] BSathvik commented on #69
Did you resolve the problem ? I have the same problem.

[2018-03-13 01:44] yukozh commented on #69
no

[2018-03-13 04:00] hunjixin commented on #191
delete Chain folder in the run directory

[2018-03-13 11:06] #191 closed

[2018-03-13 19:38] BSathvik commented on #69
I think I figure out the problem. I didn't repeat the process of creating a multi-sig contract using all 4 wallets. http://docs.neo.org/en-us/node/private-chain.html

<img width="809" alt="screen shot 2018-03-13 at 2 35 20 pm" src="https://user-images.githubusercontent.com/8377116/37365662-1f5f9366-26cc-11e8-848b-4b2f5317ef60.png">

[2018-03-14 21:55] brianlenz opened #193 "Invalid block relays"
It looks like the issue that happened with block 2000190 has happened again:

http://monitor.cityofzion.io/

Over half of the nodes are stuck on block 2022689.

I had originally created https://github.com/CityOfZion/neo-python/issues/302 for this, but it seems like this issue would be better addressed at the system level to prevent invalid blocks from being transmitted in the first place.

It look

[2018-03-15 00:56] shivam2901 commented on #193
What's solutions for this? Any where I can get that bootstrap?

[2018-03-15 00:57] erikzhang commented on #193
http://static.neo.org/client/chain.acc.zip

[2018-03-15 06:01] benhaben opened #194 "Fixed8 multiple is not accurate"
![image](https://user-images.githubusercontent.com/5353098/37446631-ea276820-2858-11e8-99eb-c8fdafdc9f18.png)

[code]

Is the behavior by design?

[2018-03-15 09:57] AshRolls commented on #152
This should be fixed in 2.7.3. Closing

[2018-03-15 09:57] #152 closed

[2018-03-15 23:18] coranos commented on #193
From my basic analysis, it appears that the block is being transmitted to the network prior to the leveldb commit finalizing. So when the consensus nodes start up again, they don't have the block.

I have not been able to trace it to a file or line number.

[2018-03-15 23:35] coranos opened #195 "Add new transaction type "unspent" to allow burned coins to be retreived."
CoZ asked for enhancements, soI'd like to present an enhancement worth roughly $150,000.

This transaction type would be identical in execution to a Contract transaction, signed by the sender, with one exception: The amount in the output would be *subtracted* from the destination address, rather than added to it. This would allow for people to reclaim coins sent to a "bad" address, but would not a

[2018-03-16 02:55] coranos opened #196 "[Feature Request] charge by the byte for transactions."
Charge 1 satoshi of gas per byte of a transaction, to submit a transaction.

Currently there are ~7500 accounts claiming gas every day.
https://coranos.github.io/neo/charts/neo-java-chain-stats.html

the top 50 gas claimers all have less than 1200 neo, and claim between 10 and 30 times a day.
https://coranos.github.io/neo/charts/neo-account-data.html
(sort by gas claims)

The top one, this guy:
ht

[2018-03-16 07:20] erikzhang commented on #195
So how can we tell which addresses are bad addresses?

[2018-03-16 07:43] erikzhang commented on #196
If the number of transactions reaches the maximum number of transactions per block, the transactions are queued for confirmation by fee per kb.
https://github.com/neo-project/neo/blob/master/neo/Consensus/ConsensusService.cs#L121

[2018-03-16 14:45] OrEagle97327 commented on #195
Caronos' title refers to "burned coins" while I think of them as "locked" or lost.

My Neo is sitting on the block chain. ...I can document how they got there.
Anyone can view them. No one can access them.
Are they mine?  Do they belong to the public domain?
Do we consider this a "bad address" as questioned above?
What are the rules for "reactivating"  "locked" crypto?

The list of losses above, i

[2018-03-16 15:39] pankajsingh3007 opened #197 "Gas transaction Unspent What i do now"
I withdrawn Gas from binance to poloniex but my transaction stuck (unspent) what does it mean please help me out of this

[2018-03-17 03:41] coranos commented on #195
There is no need to determine if an address is "bad" or not, the question is not relevant, as I will illustrate below. It will sound very strange, I just hope you understand and agree with me.

Every contract transaction that has not been spent, and is not an "unspend" transaction can be acted on by "unspend".

So, for example, this transaction could be "unspent"
https://neotracker.io/tx/90551a4b7

[2018-03-17 04:08] luoshushua opened #198 "NEO are automatically transferred"
I created a wallet and got a new address (APiKPY1bwRMU1yuNVKvYKZVtxF8jv4w7Ai) by using neo-cli. Then, I transfered 1NEO to this address and received it successfully, but after a few minutes, this 1NEO has been transfered into an unknown address （ASnwQJTjhjYcFS7aJstzrZ5tFqho1AQHEJ）automatically.
When I operated claim gas, GAS has been transfered into this address （ASnwQJTjhjYcFS7aJstzrZ5tFqho1AQHEJ

[2018-03-17 07:48] erikzhang commented on #195
It can be implemented as a smart contract very easily.

[2018-03-17 08:13] erikzhang commented on #198
Duplicate of #178

[2018-03-17 15:26] numero41 commented on #195
The question is not anymore "how to prevent it to happen".

**The question is, what do we all do to have leverage on Ledger to get our funds back.
We don't have any news for 4 weeks now, none of us.**

If no one has a better idea, I am thinking of telling Eric all this will go mainstream soon, I have the contacts to do so.
It's been 3 to 4 months now, our investments went down 50%. Even if we reco

[2018-03-17 17:51] coranos commented on #195
I'm aware that NEP tokens can be reversed. This is about NEO, which cannot be reversed.
In addition, ONT tokens were airdropped to these addresses.

Also, numero41, patience. This is the first time in the history of the world that we have a chance to do something like this. The chance to do something great. Don't let your passion overcome your reason. Emotion, yet peace.

[2018-03-17 17:54] numero41 commented on #195
Something like what? Throwing our money out of the window? 😂

[2018-03-17 17:58] coranos commented on #195
Getting a reversible token, so the average person who is not technical can be safe from typos and random hardware faults.

As of right now, a single wrong keystroke can cost you .. everything. Or keep the private key in a file on your computer, which can also cost you everything if you get a virus.

Nobody in my extended family is going to use crypto as a method of payment if it's that brittle. Th

[2018-03-17 18:32] numero41 commented on #195
Oh, yes of course that would be a revolution to bring blockchain to a
massive adoption.

Even me and all my engineer friends, we're always talking about this issue.
There will be no main stream adoption until this is solved.

The "you are your own bank" statement is great, but at least, a classic
bank gives you some pretty strong garanties of not losing your money, and
they legal obligations.

 Ok

[2018-03-18 14:24] RavenXce opened #199 "StorageIterator does not work"
Please see https://github.com/neo-project/neo-devpack-dotnet/issues/19#issuecomment-373934451 for example reproduction.

The issue is that when doing the prefix building in `Storage.Find`, the contract script hash and storage prefix are simply concatenated.
https://github.com/neo-project/neo/blob/f49f26604717579455691396adc301778c02d865/neo/SmartContract/StateReader.cs#L951

However, for Storage.P

[2018-03-18 15:07] ixje commented on #199
For what it's worth, in `neo-python` the `ScriptHash` + `prefix` concatenation is workable, we just had to fix Storage Put/Get/Delete calls because they were creating a key that was not prefix searchable (e.g. ScriptHash + murmur_hash(key) -> convert to bigint then get `bytes` as key).

[2018-03-18 15:13] RavenXce commented on #199
Since the keys in the db change does that mean that nodes need to re-build storage on upgrade?

The other solution to this is to change how Put/Get/Delete works as well, but I thought that would be more complicated.

[2018-03-18 16:20] ixje commented on #199
Yes for `neo-python` the user will have to rebuild storage. There was no way around it because previously the following 2 `Put` calls in a smart contract
[code]
would generate the following DB keys:
[code]
and as can be seen, that would never reasonable be prefix searchable.

[2018-03-19 18:04] RavenXce commented on #199
I guess thats a possible solution here too.

I've tested and can confirm the issue is due to the key prefix as mentioned in OP. Manually prefixing an additional key length in addition to the prefix allows keys with that length and prefix to be returned.

[2018-03-20 06:40] sandeepkrsony commented on #197
I have also same problem..I sent 4.7 gas from binance to poloniex..when i track transaction, showing me UNSPENT ..it is almost 10 days completed.. anybody have an idea that what should i do

[2018-03-20 06:43] pankajsingh3007 commented on #197
Raise a ticket to poloniex because I have also same problem I also raise a
ticket to Poloniex

[2018-03-20 06:45] sandeepkrsony commented on #197
10 days before raise a ticket.. but nobody help me

On 20-Mar-2018 12:13 PM, "pankajsingh3007" <notifications@github.com> wrote:

[2018-03-20 06:50] sandeepkrsony commented on #197
pankaj jee aapka GAS stuck kab se h

On 20-Mar-2018 12:15 PM, "Sandeep Kumar" <sandeep7pp@gmail.com> wrote:

10 days before raise a ticket.. but nobody help me

On 20-Mar-2018 12:13 PM, "pankajsingh3007" <notifications@github.com> wrote:

[2018-03-20 06:55] pankajsingh3007 commented on #197
3 din se

[2018-03-20 11:43] numero41 commented on #195
Check this :
https://twitter.com/spudowiar/status/976015577071407104

And see the article here, in particular at the bottom where he explains his relationship with Ledger.
https://saleemrashid.com/2018/03/20/breaking-ledger-security-model/

[2018-03-20 13:05] coranos commented on #195
Thanks DL, I saw it earlier today.

Please keep the conversation to NEO, as this is the NEO github. There are many companies involved in this problem, but we can only fix it if we focus on each individually.

I don't want this incident closed because we kept getting off track, like the last one.

[2018-03-20 13:11] numero41 commented on #195
Ok, you won't hear from me anymore :)

Good luck to you all!

[2018-03-21 08:34] erikzhang commented on #167
fixed in 363038aa8d13f4c56cd514a2628c48abd9c7e14b

[2018-03-21 08:34] #167 closed

[2018-03-21 08:36] #180 closed

[2018-03-21 08:37] #187 closed

[2018-03-21 08:39] #198 closed

[2018-03-21 18:25] coranos commented on #196
I see a problem with that implementation, I'm not sure if it's intentional. (If you agree this is a problem, and you think I should make a different issue, I will. )

The problem is that the System Fees can never be changed, as they are only in the config file. Gas costs can never be lowered. If it was lowered, some transactions that are currently in the blockchain would get rejected for having to

[2018-03-21 20:08] mwherman2000 commented on #128
I was unaware of this issue but I have already implemented a solution for this in the NEO Persisted Classes Platform 2.1.  The relavent features are:

* NPC Entity and Domain Model
* NPC Structured Storage Model
* NPC NeoStorageKey Specification
* NEO-KONG (Key-Object Notation for Geeks)

The most condensed explanation I have available today isn't very condensed.  Check out [NEO Persistable Classe

[2018-03-21 20:16] roblee220 commented on #195
I have the same problem, basically a missing MEW wallet whilst using the nano ledger s, I correctly went into MEW through the nano, sent tokens amounting to roughly 2000 dollars and now the nano is not showing the address and I obviously have no access to the private key, I’ve received 1 email from nano support in a week and I’d very much like to retrieve my coins as they are quite a large portion

[2018-03-22 10:07] #199 closed

[2018-03-24 20:32] joaocarlosleme opened #203 "Chinese code summary and comments (XML Documentation)"
Wouldn't be better to have all code comments (XML Documentation) in English? Or at least English and Chinese?

Overall, there ain't much code documentation/description, but the few available are in Chinese. To better understand the project I'm going back and forth from google translate.

I could look into an auto translate all Chinese into English and make a pull request, but only if you agree to

[2018-03-27 14:13] osmirnov opened #207 "Fixed8 fails to work with big decimals"
Test:
[code]

Result:
[code]
The reason is a passed value to FromDecimal is bigger than Fixed8.Max.

Is it by design? Could the better input validation be applied?

Thanks.

[2018-03-28 06:16] LeonardoDarkVinchi commented on #179
Ok I`ve found ports, "thanks for help". Now I stuck at finding genesis hash at your code.

[2018-03-28 12:14] #194 closed

[2018-03-29 09:39] erikzhang commented on #153
I've tested it and it seems to work as expected.
I depolyed the contract in tx: https://neoscan-testnet.io/transaction/6ecf61157ef76896698a62962ff4042ee41090f7b25a5cb1320643a59ead3ac3
The hash of the contract is:
[code]
And then I put a key-value `key: hello, value: world` into it: https://neoscan-testnet.io/transaction/ee3f452e85f19cf3f631b5eb2def3db8c62c6262fbf60505dbf7f5c7e815778b
And then I up

[2018-03-29 10:18] erikzhang commented on #168
I've tested it and it seems to work as expected.
I depolyed the contract in tx: https://neoscan-testnet.io/transaction/3dd62946b6bfa3ce1d39094784bbeec002abb32b815ce671444cfdbd28e1ee82
The hash of the contract is:
[code]
And then I put a key-value `key: hello, value: world` into it: https://neoscan-testnet.io/transaction/e380ecbd1426aa44dd7ed67ed175d9aae171b72ab4ef5ebade35090f19684919
And then I up

[2018-03-30 06:53] maiganne opened #210 "smart contract"
https://github.com/neo-project/neo/blob/cae8575c29ba76709dfa3962501011390fda7c8b/neo/Core/Blockchain.cs#L496

When I write a smart contract, I try to do a function, that is,  get the block height of  TX by txid, can the above code  achieve the purpose?

[2018-03-30 15:48] erikzhang commented on #210
Yes

[2018-03-30 17:20] shargon commented on #179
https://github.com/neo-project/neo/blob/d8b1b1537e330316e4a6bd2264dcbb7dc1f7e9c5/neo/Core/Blockchain.cs#L74

`GenesisBlock.Hash`

[2018-03-30 17:20] #179 closed

[2018-04-02 16:58] localhuman opened #212 "[Feature Request] Runtime.Serialize/Deserialize Support for MAP"
Currently there is no support to Serialize and Deserialize a `MAP` object in the VM.   It would be nice if support was added for that here: https://github.com/neo-project/neo/blob/master/neo/SmartContract/StateReader.cs#L257

[2018-04-02 17:00] localhuman opened #213 "[Feature Request] Add `Neo.Runtime.CheckSignature`"
Currently there is no method from a smart contract to check the signature of an arbitrary message, signature, and public key object.

A proposed solution would add `Neo.Runtime.CheckSignature` and `Neo.Runtime.CheckSignatures` to `StateMachine` which would accept a message, signature(s), and public key(s) to be checked.

[2018-04-02 19:02] shargon commented on #212
You want to save this MAP in the storage right?

[2018-04-02 20:56] localhuman commented on #212
Yes!

[2018-04-05 12:41] markbasser commented on #144
NEO Tracker can not send money or request gas. Why do I get an unknown error many times? Please tell me.

[2018-04-08 07:01] #168 closed

[2018-04-09 07:54] adityawritso commented on #178
@shivam2901 Can you please tell me, how you have blocked RPC ports for the public? I am also struggling with the same issue.

Thanks in advance.

[2018-04-09 07:57] shivam2901 commented on #178
@adityawritso Yes, blocking rpc ports worked for me.

[2018-04-09 08:16] adityawritso commented on #178
@shivam2901  Do I need to add neo nodes IP to the whitelist. If yes then from where I get those IP?

[2018-04-09 09:26] #153 closed

[2018-04-09 09:33] erikzhang commented on #207
Yes, it is by design. The method `FromDecimal` throws `OverflowException` if the value if out of range.
https://github.com/neo-project/neo/blob/70ffddcaa1e7b3beea2d8288d4c6dda05b58df49/neo/Fixed8.cs#L80-L89

[2018-04-09 09:34] #210 closed

[2018-04-09 09:56] erikzhang commented on #213
@localhuman Is it better to add a new opcode `VERIFY` to check the signature of an arbitrary message?

[2018-04-09 11:41] shargon commented on #213
Maybe we can modify `CHECKSIG` and if the first item is an Array, check if his length is 3. Message,PubKey and Signature

[2018-04-09 11:52] osmirnov commented on #207
The OverflowException exception I observe happens in line 82, not in 84. Anyway, it is still the same type of the exception.

[2018-04-09 11:52] #207 closed

[2018-04-09 13:16] erikzhang commented on #213
If we do this, then we have to add two more opcodes `PUSH3` and `PACK` before each `CHECKSIG`. I would prefer to add new opcode for this feature.

[2018-04-09 13:17] localhuman commented on #213
Agree that adding a new opcode seems better.  `CHECKSIG` is used a lot and should be kept as simple as possible.

[2018-04-09 19:01] shargon commented on #213
Let's do it :)

[2018-04-10 17:58] #213 closed

[2018-04-10 18:48] localhuman commented on #213
🎉

[2018-04-14 19:25] prudnitskiy opened #216 "neo-cli memory leak"
I trying to use neo-cli on debian9 using dotnet from official microsoft's repository.

When I start neo, I see that memory usage is continuously grows up to full machine's memory (24Gb in my case). After NEO trying to claim more memory, OOM killing it so process crashed. I tried to update neo-cli to latest release but have no look. Is there any way to fix this issue?

I use production chain, not t

[2018-04-17 09:26] saltyskip commented on #150
If the majority of the network is using light clients to interact with the network isn't this important enough to add to the general seed RPC API?

There's a huge centralized bottle neck right now with everyone hitting neo-scan, or neon-wallet db in order to make transactions.

I would suspect the vast majority of transactions are NEO require this  API in order to process.

[code]

via RPC is comp

[2018-04-17 10:27] LeonardoDarkVinchi commented on #179
Where is Genesis Block take value? In code I mean.

[2018-04-17 10:31] LeonardoDarkVinchi opened #219 "Genesis Block."
Where is Genesis Block Hash take value? In code I mean. I have found 5 rows with GenesisBlock.Hash but in this rows It`s compared.

[2018-04-17 14:29] shargon commented on #219
They compute the hash with the all the data.

Duplicated: https://github.com/neo-project/neo/issues/179

[2018-04-17 14:29] #219 closed

[2018-04-18 10:09] dannyc938 opened #220 "Neo disappeared from Neon wallet no transaction history"
I haven't opened my wallet in about a month. But I had neo in my wallet functioning perfectly until a month ago. I now have no neo, no gas and it shows no transaction history. If I were hacked, I would have anticipated seeing my Neo leaving the wallet...

Please help. I updated to the latest Neon wallet, this hasn't helped. I have also tried to see if my neo would at least show up on https://neotr

[2018-04-18 13:29] dannyc938 commented on #220
Thank you, @MorpheusAdministrator !!
I was googling to see if there were any recent issues but only saw those that occurred in Nov - Jan. I'll sign up to the support channel to find out when it gets resolved.

[2018-04-19 09:58] erikzhang commented on #216
Can this problem be reproduced? If you can, please specify the steps.

[2018-04-20 14:40] #220 closed

[2018-04-26 11:32] Sinepitiss commented on #166
Did you try just creating a new wallet and importing your old wallet into with WIF(neo-gui) what neo scanner is telling about your wallet?

[2018-04-26 11:41] Sinepitiss opened #221 "Neo Gui Smart Contract token overflow"
I want to create a NEP-5 token with a supply of 100'000'000'000 and precision of 8.
That amounts to:
10000000000000000000
ulong max value is:
18446744073709551615
so great ,I can easily make a token with the amount I wish ,I did just that and then I called deploy method that gives all of these tokens to my wallet ,the end result in neo-gui was this:
![image](https://user-images.githubusercontent.c

[2018-04-27 18:44] hal0x2328 opened #223 "Change requested in behavior of Blockchain_GetContract since dynamic invokes implemented"
Now that dynamic invokes are implemented, there are scenarios where a contract may want to test whether a passed scripthash is a normal address or instead is a smart contract, and change the execution flow accordingly.

The current behavior of `Blockchain_GetContract` is to return a `false` value in the engine code when the contract cannot be found in storage, which raises a VM fault, making it im

[2018-04-27 18:50] localhuman commented on #223
Agreed

[2018-04-30 11:41] prudnitskiy commented on #216
Yep, I tested it double time.

Steps to reproduce:
- install clean debian 8 machine (x86_64) (we are planing to test it on debian 9 and centos 7, I'll add test results here)
- install dotnet
- download stable version of neo (we're tested on 2.7.4.0)
- run neo: `dotnet neo-cli.dll /rpc`
- wait some time

Depends of your RAM it takes about 1 to 5 days before NEO will take all ram and then crashed.

[2018-04-30 11:52] kryptob commented on #195
Good day,

I am Indeed one of the early victims of this issue and glad all attempts are being made to fix it.  In August when Neo released the 0.03 wallet version and the announcement was made about how to earn gas, I transferred a total of about 319 NEOs to my wallet address.  Before this I transferred 2 Neo to test it and earned gas for 2 days.  The wallet froze at some point, I  logged out and

[2018-04-30 12:25] numero41 commented on #195
@kryptob

Were you using the Ledger Nano to make those transactions?

About this new feature, Coranos knows much more about it than me as he implemented it, but I can surely say that it'll avoid this in the future, but won't reverse the previous "corrupted" transactions

[2018-04-30 12:30] kryptob commented on #195
Hi,

Thanks for your response, ledger Nano had not been released then.  I was using the 0.03 version of the desktop wallet.  It was after the issues that COZ released a quick update to the wallet but I’ve been unable to retrieve my coins till date.  Infact the only access to the wallet was using private key.  It was after we complained (it happened to a few of us back then) that an improvement was

[2018-04-30 12:43] numero41 commented on #195
We all have all proofs and necessary informations you mention, but it won't help you in any way.

For now we never had any information that could let us hope for a way to gain access again to the wallets.
The only hope would be to find a kind of responsibility of some of the parts involved in the transactions.

This crypto world has no regulations yet, and for now not anyone (wallet developers, Le

[2018-04-30 13:27] numero41 commented on #195
If your private key doesn't derive the correct public key anymore, you can't prove you're the owner, that was my point.

What kind of proof are you talking about? Transactions records from your exchange account history + blockchain explorer txids? That's not enough!

Let me give you an example :
You have a very good friend to who you want to send some coins, he gives you his wallet address, you ma

[2018-04-30 14:55] coranos commented on #195
Nobody is currently working on this feature request. They don't seem to care, regardless of how much proof there is.

I do not know how to get them to care, as I have tried all I could.

[2018-04-30 15:03] kryptob commented on #195
@numero The case you mentioned is an outlier.   There’s some level of proof if one can confirm that your stuck coins emanated from an exchange account you own, that is often times near accurate that you owned the coins.  The case you eluded to is exceptional.

@Coranos, is this feature possible technically at all? Where they burn the stuck coins and mint another in replacement for you as long as y

[2018-04-30 15:19] coranos commented on #195
The feature is technically possible. As said above, it's actually very easy to do as a smart contract.

However you would need to convince NEO to run the modified code on their consensus nodes, or there's no point. I do not think it is possible to convince NEO to run the modified code on their consensus nodes.

Their original whitepaper mentioned the feature (reversible transactions), but it is cu

[2018-04-30 15:44] kryptob commented on #195
''Their original whitepaper mentioned the feature (reversible transactions), but it is currently absent from the whitepaper and the code. I didn't save a copy of the whitepaper, and the link is dead, so I have no proof.''

I kid you not.  There were about a few of us affected, we saw the feature in the white paper as well.  I think one of the guys saved it, it was on the Antshares, then on Neo whe

[2018-04-30 15:47] kryptob commented on #195
@numero41 i agree with you, proofing ownership from a wallet is hard, but if you can prove it on an exchange that is easy.  The transaction IDs are recorded, the wallet address where it emanated from are also there and i'm sure support in exchanges will be able to help as well.

[2018-04-30 17:53] numero41 commented on #195
@kryptob

You know, that was the first thing I told myself, 4 months ago when it happened to me, that I had all the necessary informations and that no one could contest it, I have my exchanges accounts, which I am the only one to access for sure, the txids, everything that shows that I for sure did made the transactions this exact day, at this exact time, with those exact amounts, etc.

Then I was

[2018-05-01 15:38] Christian-B opened #227 "Pickle fails in python 3.6"
test script:
#code taken from http://neo.readthedocs.io/en/0.6/api_reference.html#neo.core.Block
from neo.core import (Block, Segment, ChannelIndex,  AnalogSignal)
from quantities import nA, kHz
import numpy as np
# create a Block with 3 Segment and 2 ChannelIndex objects
blk = Block()
for ind in range(3):
    seg = Segment(name='segment %d' % ind, index=ind)
    blk.segments.append(seg)

    for

[2018-05-02 18:07] hal0x2328 commented on #227
Wrong project - I think you meant to post this in https://github.com/NeuralEnsemble/python-neo/issues

[2018-05-03 10:49] erikzhang commented on #221
@Sinepitiss  Can you please provide me the hash of your NEP-5 contract so that I can find the issue?

[2018-05-03 11:28] #223 closed

[2018-05-03 12:09] erikzhang commented on #216
What if we start it without `/rpc`?

[2018-05-03 13:55] Sinepitiss commented on #221
No,because I made this contract in private network ,but I can provide you with example:
https://github.com/ANDIT-Solutions/NEO-NEP5.1/blob/master/NEP-5.1.cs
only please change **total_amount** variable value to   **100000000000** so that you can reproduce the bug.

[2018-05-03 13:59] erikzhang commented on #221
I will try it.

[2018-05-03 16:32] Sinepitiss commented on #221
Thanks!

[2018-05-03 17:27] Frankie34 commented on #165
Error CS0433: The type 'OpCode' exists in both 'Neo.SmartContract.Framework, Version=2.7.3.0, Culture=neutral, PublicKeyToken=null' and 'Neo.VM, Version=2.0.3.0, Culture=neutral, PublicKeyToken=null' (CS0433) (neon)

[2018-05-04 12:38] c0ax opened #228 "I'm running neo-cli (2.7.4.0) and ApplicationLogs are not created!"
Hi

I'm running neo-cli using the following commands (on Windows 10) **dotnet neo-cli.dll --log --rpc** but ApplicationLogs aren't created under the main folder.

Will the ApplicationLogs be created after I'm fully synced? (currently I'm synced at block 966255).

I've gotten the rpc element of neo-cli to work but for the life of me I can't figure out how the ApplicationLogs are created!?

If someo

[2018-05-05 08:46] conan789123 opened #229 "如何预估成本？"
请问在neo上部署一个智能合约的平均成本是多少？

[2018-05-07 10:01] myjobchain opened #230 "在调用交易API时如何设置应用自定义数据"
在调用neo-cli 的交易api，如sendfrom()、shendtoaddress()等时，如何传递一个应用自定义数据呢？

[2018-05-09 05:09] Keithsummer commented on #220
Hello guys,
i need help. 100 NEO was stolen from my Neon Exchange extension wallet on 25 April 2018 :(
It was transferred to AUbTXKgEkfvJi7JEU4grSnjj8JgckJQ7iB and then quickly to AJzoeKrj7RHMwSrPQDPdv61ciVEYpmhkjk. Is there any hope of tracking the hacker and getting back my money? I need it to help my dad's liver cancer treatment. I am devastated :(

[2018-05-09 05:12] Keithsummer commented on #220
Neon exchange was not of any help. They literally ignored me for weeks and only a few days ago asked if I was using the correct Neo extension. Of course I was using their extension downloaded from neonexchange.org
I feel completely helpless and I know many people are going to mock me for not storing my NEO in a hardware wallet :(

[2018-05-09 05:14] Keithsummer commented on #220
I still don't know how anyone was able to transfer my NEO away so easily. Should Neon exchangebe liable for allowing a wallet so prone to hacking to store everyone's NEO?
If I can't get back my money, at least I hope everyone be very careful with storing your NEO on the Neonexhange wallet extension

[2018-05-09 05:15] Keithsummer commented on #220
I was able to find some posts about NEO being stolen by account AJzoeKrj7RHMwSrPQDPdv61ciVEYpmhkjk.
Is there a way to know what wallet address is this? Exchange or another Neon Exchange address or something?

[2018-05-09 05:39] Keithsummer commented on #220
My own account is AVMvvwfAHds8P4kuTnSyeV3ir6p11drY8W . I am not asking for any donations. I suppose the hacker will just steal your donation away anyway. You can check my account to see my 100 NEO being transferred to  AUbTXKgEkfvJi7JEU4grSnjj8JgckJQ7iB and then  to AJzoeKrj7RHMwSrPQDPdv61ciVEYpmhkjk

[2018-05-09 05:41] Keithsummer commented on #220
Someone please help :(

[2018-05-09 05:46] Keithsummer commented on #220
If the hacker of AJzoeKrj7RHMwSrPQDPdv61ciVEYpmhkjk sees this post, please return the 100 NEO to me at AVMvvwfAHds8P4kuTnSyeV3ir6p11drY8W.  I really need the money for my dad's cancer treatment. I beg you. You have more than 900,000 NEO and this 100 NEO means nothing to you, but it affects my family greatly.

[2018-05-09 05:59] Keithsummer opened #231 "AJzoeKrj7RHMwSrPQDPdv61ciVEYpmhkjk, please return my 100 NEO you took on 25April 2018"
***If the hacker of AJzoeKrj7RHMwSrPQDPdv61ciVEYpmhkjk sees this post, please return the 100 NEO to me at AVMvvwfAHds8P4kuTnSyeV3ir6p11drY8W. I really need the money for my dad's cancer treatment. I beg you. You have more than 900,000 NEO and this 100 NEO means nothing to you, but it affects my family greatly.***

Background,
100 NEO was stolen from my Neon Exchange extension wallet on 25 April 20

[2018-05-09 09:34] AshRolls commented on #231
Github is for code issues. Please join #support in discord.

[2018-05-09 09:34] #231 closed

[2018-05-09 18:37] prudnitskiy commented on #216
I removed database directory and memory leak has gone - no matter if I use rpc flag or not. I'll be watching on memory consumption in next days.

[2018-05-10 03:44] #221 closed

[2018-05-10 04:02] erikzhang commented on #216
What do you mean by "removed database directory"? Is it a resync of blocks?

[2018-05-11 15:30] #164 closed

[2018-05-11 19:58] OrEagle97327 commented on #195
@coranos
Who in the Neo team would be most likely to help you implement your idea in this thread?
Who else in the community has shown any interest?

What additional venues would be good to pursue a campaign to push for this?

Imagine how the whole crypto community would be with this as a standard feature.

[2018-05-11 20:03] coranos commented on #195
@erikzhang would be the only one I know who would be able to implement Unspend transactions.

Most times I mention reversible transactions, people are hostile to the idea. "Caveat Emptor" as they say.

[2018-05-14 22:41] dicarlo2 opened #234 "InvocationTransaction max script size"
@erikzhang Looks like we're limited to [1] 65536 bytes for the script, which means contracts can only be 65536 bytes (well a little less in order to do the Neo.Contract.Create syscall). Any chance we can increase the limit? This seems like it might have been an unintended side-effect of the PublishTransaction deprecation because there is a much higher limit on the contract size created through Pub

[2018-05-15 10:52] ZGeomantic opened #236 "ByteArray类型如何转为数字"
文档里有这个例子，数组中的的第四个对象，为转账金额，类型为bytearray，值为200000000。
{
"type": "ByteArray",
"value": "00c2eb0b"
}

请问这里的00c2eb0b是如何转换成200000000的？

[2018-05-15 10:57] erikzhang commented on #236
00c2eb0b是小端序字节流，直接转成大整数即可：

[code]

[2018-05-16 08:16] ZGeomantic opened #238 "neo有testnet的区块链浏览器吗"
请问有测试链的区块链浏览器工具吗？http://testnet.antchain.xyz这个地址目是gui跳转的，但是报502。这个是浏览器吗？还在维护吗？

[2018-05-16 16:16] shargon commented on #234
Can you give us one valid example for this?

[2018-05-16 16:19] shargon commented on #195
Im sorry, but if it has been lost, is lost .... otherwise, it would break the main principle of a blockchain

[2018-05-16 19:15] dicarlo2 commented on #234
Can you describe what you mean by a valid example? The TypeScript compiler we're working on for neo-one emits a large amount of bytecode currently, so increasing the limit would help unblock releasing it.

Other platforms, Ethereum in particular, actually have a lower limit on the bytecode size than we currently have, BUT unlike Ethereum and other contract platforms, the cost of deploying contract

[2018-05-17 11:33] wangyong31893189 commented on #236
@erikzhang   但是无法转哦

[2018-05-17 11:33] wangyong31893189 commented on #236
@ZGeomantic  请问你的问题解决了么？

[2018-05-17 15:57] jsolman commented on #193
FYI if @coranos comment was correct, this is probably fixed by my pull request here: https://github.com/neo-project/neo/pull/237

[2018-05-18 02:49] erikzhang commented on #234
So you think 1MB is the correct limit?

[2018-05-22 04:49] lock9 opened #241 "Add English translation of comments in code"
Hello,
There is a lot of documentation written in mandarin. I translated many comments I found in the code online. I would like to submit a pull request for this.

[2018-05-24 03:56] lock9 opened #245 "Change class name from CoinReference to TransactionInput"
Hello,
Sorry for the useless issue, but is there any chance that the CoinReference class could be renamed to TransactionInput? The name in code is "Coin Reference", but every other place that we mention it, we call it a "Transaction Input"
I understand that renaming classes can mess with other people code, so I'm cool if you guys want to close this.
Note: If this is accepted, I think we should als

[2018-05-24 04:19] erikzhang commented on #245
It's been renamed from `TransactionInput` to `CoinReference`, and now you're asking me change back ...

[2018-05-24 04:27] lock9 commented on #245
Sorry Erik, I didn't know that! If you think the correct name is CoinReference, please keep it. I'm just pointing it because I'm reviewing the code and the documentation and looks like it would make more sense to call it TransactionInput or "TransactionReference" (something in between).
Maybe it's the documentation that should be changed?
Please keep it the way you consider correct!

[2018-05-24 04:31] #245 closed

[2018-05-24 20:26] dicarlo2 commented on #234
Sorry, was off the grid for a bit. I will think on the implications of increasing the size limit and report back here with my thoughts.

[2018-05-26 05:21] canesin opened #249 "NEP7 break the chain without versioning"
###  Scenario

Someone publish a minimal 90 GAS contract:

[code]

Then by sending a minimal transaction of 0.0000001 GAS (malicious transaction) nodes syncing from zero will differ from synced nodes if NEP7 is deployed, effectively breaking the chain.

### Solution:

Implement versioning mechanism from protocol changes that change execution behavior, contracts and blocks should be stamped by cons

[2018-05-26 17:01] erikzhang commented on #249
For this example, there is no difference between whether NEP-7 is deployed or not.

If NEP-7 is not deployed, then this function will never be executed. And if the nep-7 is deployed, then the function throws an exception, just like no execution.

So the results are no different.

[2018-05-26 18:04] canesin commented on #249
@erikzhang it would accept the GAS in one case and refuse in another.

[2018-05-26 19:50] igormcoelho opened #250 "Tag for version 2.7.4"
Dear all, is there an official tag for Neo v2.7.4? From nuget.org, it seems the version was created on 29 march, perhaps after Neo-VM v2.2.0 dependency (commit cae8575c29ba76709dfa3962501011390fda7c8b).
Is that correct?

[2018-05-26 20:09] igormcoelho commented on #249
One thing that came to my mind is that Payable flag can be used to indicate NEP-7 compatibility, so older contracts won't have a different behavior as @shargon described. Another option is to distribute the blockchain together with a informing json file: from block 0 to X, NEO<=2.7.4,  from X+1 to Y, NEO <= 2.7.5, ... And this can be used in blockchain import tools.

[2018-05-28 10:32] syeerzy opened #252 "私链共识后异常退出"
6台机器做共识,  高度已经由1变2,  然后过一会就纷纷抛出这个异常:

Unhandled Exception: System.ArgumentException: An item with the same key has already been added. Key: System.Threading.Tasks.Task`1[System.Threading.Tasks.VoidTaskResult]
   at System.ThrowHelper.ThrowAddingDuplicateWithKeyArgumentException(Object key)
   at System.Collections.Generic.Dictionary`2.TryInsert(TKey key, TValue value, InsertionBehavior behavior)

[2018-05-28 11:13] erikzhang commented on #252
Duplicate of neo-project/neo-cli#159

[2018-05-28 11:13] #252 closed

[2018-05-29 06:33] thomsonimjd opened #255 "Testnet faucet"
Where can I request for testnet coin to test on my exchange platform?

[2018-05-29 06:36] jonatanblockchain commented on #255
https://neo.org/testnet
http://docs.neo.org/en-us/network/testnet.html#method-of-getting-test-gas-and-test-neo

[2018-05-29 06:37] thomsonimjd opened #256 "Asset Id"
I create an address in jsonrpc using getnewaddres method, the same way how can I get asset id for an address to send/check balance.

[2018-05-29 06:58] thomsonimjd opened #257 "Testnet mode"
How to run ./neo-cli --rpc in testnet mode?

[2018-05-29 07:21] #143 closed

[2018-05-29 07:26] erikzhang commented on #241
Duplicate of #203

[2018-05-29 07:26] #241 closed

[2018-06-01 03:18] djaramillo021 opened #261 "Tag V2.5.0 not compile in linux"
/usr/share/dotnet/sdk/2.1.300/Microsoft.Common.CurrentVersion.targets(1179,5): error MSB3644: The reference assemblies for framework ".NETFramework,Version=v4.7" were not found. To resolve this, install the SDK or Targeting Pack for this framework version or retarget your application to a version of the framework for which you have the SDK or Targeting Pack installed. Note that assemblies will be

[2018-06-01 15:24] localhuman opened #262 "[Feature Request] Expose `Neo.IO.Data.LevelDB` namespace for public usage."
Currently any code that runs outside of the core Neo project cannot use items in the `Neo.IO.Data.LevelDB` namespace, as it is [marked `internal`](https://github.com/neo-project/neo/blob/master/neo/IO/Data/LevelDB/DB.cs#L5)

Authors of plugins would like to use LevelDB for persisting notifications, and currently cannot do so without implementing their own LevelDB functionality.

[2018-06-01 15:28] localhuman opened #263 "[Feature Request] Interop or VM functionality"
Add the following methods ( or similar) to the interop layer or VM:

- `Hex`
- `Unhex`
- `ScriptHashToAddress`
- `AddressToScriptHash`

[2018-06-01 17:21] shargon commented on #263
I prefer Interop

[2018-06-02 16:20] localhuman commented on #263
It can be in the compilers to convert /unconvert at compile time.  But for `ByteArray` that are on the stack it would need to be in the Interop layer.

[2018-06-02 17:32] igormcoelho commented on #263
I'd like to join the conversation, and ask for another related method hahaha is there some sort of `validateAddress` in lower layers?
That would be nice to ensure the address is valid... the way it is now, we have byte[] for everything, we can validate things like length, but I don't think it can be validated to be an address. If it was passed as Base58 Address (that can be validated), as you said

[2018-06-02 18:10] igormcoelho opened #264 "[Feature Request] Hashing Interop names"
Perhaps this is a very bad idea, but I will say it anyway :)
Currently, Interop methods are called by string names "Neo.Input.GetHash" (this is the shorter one), but we have much longer names in the list (including older ones starting with "Antshares." prefix). Since this makes the avm bigger, and there will be a limited number of interop functions, is it reasonable to hash the Interop function na

[2018-06-02 18:13] igormcoelho commented on #264
Any thoughts on that @shargon , @erikzhang , @localhuman , @canesin ?

[2018-06-04 06:55] shargon commented on #264
You don't need a hash. Only a int32 number. Maybe if we have on the stack a BigInteger we can use it

[2018-06-07 20:27] dicarlo2 commented on #263
What’s the use case for using base58 addresses vs just always using script hashes in smart contracts?

[2018-06-07 23:14] igormcoelho commented on #263
@dicarlo2 you made me think about it and I suddently dont want this feature anymore... O.o let me explain why. base58 address and scripthash are almost the same, but the first comes with integrity check. If that existed months ago , I believe some problems in some  smart contracts wouldnt have existed (I cannot go into details), because of this integrity check and perhaps stronger type checking fo

[2018-06-09 05:45] #262 closed

[2018-06-12 00:41] vncoelho commented on #264
#254

[2018-06-12 00:45] igormcoelho commented on #264
In fact @shargon, the idea of Hash is to simply have a function mapping from String InteropName -> byte[]. We can have a hash function mapping from String to int32, although more than 4 bytes may be wanted, to avoid future collisions perhaps, and still it would be nice to have a fixed limited amount, to make it easier to identify it for appcalls.

[2018-06-12 03:41] igormcoelho commented on #234
@dicarlo2 I have thought about those implications, and since JMP instructions use absolute reference for 2 bytes (max 65k), it would be nice to keep this limit now (unless there are strong reasons to increase it). Otherwise, jumps can also be mapped consecutively (JMP +65k falls in another JMP... until it reaches 1M, for instance).
I have also thought about a small project on AVM post-optimization

[2018-06-12 19:51] igormcoelho commented on #234
Ok guys, I have a first prototype working, cutting a lot of NOPs.
https://github.com/NeoResearch/neon-opt

I a few time, it will be easy to remove many useless jumps also (as I have noticed), and do many workarounds on the AVM, one after another ;)

[2018-06-14 03:43] penuel-leo opened #269 "How to convert address to Hash160"
Hi, I use the invoke function method to debug, according to the document [http://docs.neo.org/en-us/exchange/v2.7.3.html](http://docs.neo.org/en-us/exchange/v2.7.3.html).
The documentation point out that the parameters need to convert the address to the Hash160 type. How do you convert each other in java? (and How do you convert ByteArray types and String each other?)

[2018-06-15 14:37] localhuman commented on #262
This is great, thank you!

[2018-06-16 03:17] dicarlo2 commented on #234
@igormcoelho We don't emit NOPs or useless JUMPs in the typescript compiler. We just emit a lot of code. Certainly we could reduce it (and we plan to). We also noticed the issue with the limitation around JMP and currently split up our jumps to account for that (pretty much exactly as you described).

@all - sorry I haven't had a chance to reply with more concrete details/thoughts, I will get to t

[2018-06-16 04:27] igormcoelho commented on #234
@dicarlo2 what do you mean by a lot of code? push ? stack op ? I just noticed it's easy to reduce some stack operations ... that will help a lot the C# compiler, project is evolving quickly.

[2018-06-18 08:48] arkoc opened #270 "Missing docs/code for creating multisig transaction"
There is no documented way of programmatically creating multisig transaction. Also I didn't found any code that creates multisig transaction.

Is there any code or documentation that is describing process of creating multisig transaction ?

[2018-06-19 06:54] penuel-leo commented on #257
you can see [http://docs.neo.org/zh-cn/network/testnet.html](http://docs.neo.org/zh-cn/network/testnet.html), just replace testnet config file, then run it

[2018-06-19 08:02] jsolman commented on #261
You should be building for netcoreapp2.0 or netstandard2.0 if you are building for Linux. It's easy enough to change the csproj files for that. Is this issue to add logic to csproj files so that modifications aren't necessary for building on Linux?

[2018-06-19 08:05] jsolman commented on #193
Possibly a timing issue on a consensus node could also cause this issue. Should probably create a scenario that reproduces it on a private net.

[2018-06-19 18:41] mwherman2000 opened #271 "When was this new TransactionType released onto the network? `TransactionType.StateTransaction`"
Yesterday, I found a problem in my version of `neo-lux` and was wondering if you've seen this and know what it is/how it happened?

Context: It was near line 434 in  `Transaction.Unserialize()` (in `neo-lux`).  A `System.NotImplementedException: Message=The method or operation is not implemented.` exception.

On the blockchain there appears to be a Tx with a new `TransactionType.StateTransaction`

[2018-06-19 19:03] mwherman2000 commented on #271
`TransactionType.StateTransaction` doesn't appear in the online docs:
http://docs.neo.org/en-US/sc/reference/fw/dotnet/neo/Transaction/Type.html

[2018-06-19 20:15] mwherman2000 commented on #271
@Relfos

[2018-06-19 20:17] mwherman2000 commented on #271
@erikzhang What is the process for community developers to learn/be informed of breaking changes made in the NEO Core?

[2018-06-20 03:38] mwherman2000 opened #272 "What is the process for community developers to learn/be informed of breaking changes?"
@erikzhang What is the process for community developers to learn/be informed of breaking changes like this one being made in the NEO Core? e.g.

[2018-06-20 04:13] erikzhang commented on #271
The specification can be found here: https://github.com/neo-project/specification

I will complete it in the next few months.

[2018-06-20 04:18] erikzhang commented on #272
The specification can be found here: https://github.com/neo-project/specification

I will complete it in the next few months.

[2018-06-20 11:48] mwherman2000 commented on #272
Given:
(a) the fragile architecture of the NEO software ecosystem (e.g. having to reimplement the NEO VM functionality everywhere e.g. NEO-Debugger, neon.exe debugger compiler, NEO-LUX, ...and I'm assuming every blockchain explorer (e.g. NEOSCAN), and
(b) thousands of community developer hours worth of effort continually trying to keep up in a totally 100% reactive way
...there is a horrible waste

[2018-06-20 11:53] mwherman2000 commented on #272
CC: @relfos @igormcoelho

[2018-06-20 15:05] wy opened #273 "segmentation fault on exit (NEO-CLI 2.7.5.0)"
ubuntu 16. Plenty of RAM, storage etc.

When I try and exit (using command exit), it hangs for a while and then finally either complains segment fault or dumps a list of chain files and then says core dumped.

[code]

Have reproduced three times now on different VMs.

[2018-06-20 16:58] toghrulmaharramov commented on #272
Agree with @mwherman2000. The communication between the core team and the devs is non-existent.

[2018-06-21 09:38] shargon commented on #273
What version of dotnet did you use?

[2018-06-21 11:19] yura-sutnuk opened #274 "2.7.6 synchronization"
I downloaded last version of neo-cli (2.7.6), copied the content of config.testnet.json and protocol.testnet.json files into config.json and protocol.json. trying to start sync and i have this:

[code]
after 1 hour the "current" is still 0. what i do wrong?

[2018-06-21 11:50] AshRolls commented on #274
Why are you trying to `start consensus`, that is for voted consensus nodes only. The client will sync automatically when you run it, use `show state` to see the progress.

[2018-06-21 11:58] yura-sutnuk commented on #274
all the same
[code]

[2018-06-21 12:12] AshRolls commented on #274
I sync'd a 2.7.6 testnet node yesterday without trouble. try removing `peers.dat` and your `Chain` folder(s) and trying again. Alternatively bootstrap from the chain.acc.zip available in https://github.com/CityOfZion/awesome-neo

[2018-06-21 12:41] yura-sutnuk commented on #274
i don't know what happened so i removed neo and downloaded again and now it works
[code]

[2018-06-21 12:59] #274 closed

[2018-06-21 14:57] mwherman2000 commented on #272
Additional feedback from the NEO community:
- NEO is dying slowly
- Ontology will be NEO 2.0
- NEO appears to be a science project/playground for creating new tech for ONT
- I've find the deployment of code that is untested and uncommented to be quite reckless
- It is a nightmare keeping track of NEO core developments, NEP standards, ... and everything else that keeps changing
- Breaking changes h

[2018-06-21 15:03] mwherman2000 commented on #272
Additional feedback from the NEO community:

NEO is dying slowly
Ontology will be NEO 2.0
NEO appears to be a science project/playground for creating new tech for ONT
I find the deployment of code that is untested and uncommented to be quite reckless
It is a nightmare keeping track of NEO core developments, NEP standards, ... and everything else that keeps changing
Breaking changes have caused exi

[2018-06-21 15:03] mwherman2000 commented on #272
Additional feedback from the NEO community:

- NEO is dying slowly
- Ontology will be NEO 2.0
- NEO appears to be a science project/playground for creating new tech for ONT
- I find the deployment of code that is untested and uncommented to be quite reckless
- It is a nightmare keeping track of NEO core developments, NEP standards, ... and everything else that keeps changing
- Breaking changes hav

[2018-06-21 15:10] yura-sutnuk opened #275 "create contract address"
I filled the form https://neo.org/Testnet/Create and requested several test NEO and GAS coin and now i need to create contract address but how do this?  On the official site i see only how make it in GUI but do not see any instruction how make it in CLI,  is GUI required for this?

[2018-06-21 15:27] wy commented on #273
2.1

See the exact script run below

#!/bin/bash
wget -q https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb
sudo apt-get install apt-transport-https
sudo apt-get update
sudo apt-get install dotnet-runtime-2.1 --yes
sudo apt-get install dotnet-sdk-2.1 --yes
sudo apt-get install unzip --yes
dotnet new console -o hwapp
cd hwapp
dotn

[2018-06-21 20:41] igormcoelho commented on #272
@mwherman2000 I can agree with many of your arguments and opinions, as they are usually constructive for the community. I don't see this discussion being useful for anything constructive, so excuse me this time, but I'm leaving this thread.

[2018-06-22 02:19] mwherman2000 commented on #272
@saltyskip, there are the solutions in the Open Letter in the form of things that need to be created and deliver.  Here they are again with a bit more detail and some examples:

* Improve coordination between NEO Foundation/NGD and the broad community
coordinated test plans and testing Examples: coordination with local NEO technical meetups, more developer events, more online events, bi-weekly cor

[2018-06-22 02:58] dicarlo2 commented on #193
Consensus nodes probably need to listen for blocks from the network for some duration before rejoining consensus, otherwise they may miss a block they've broadcasted but failed to persist.

[2018-06-22 03:09] coranos commented on #193
Dicarlo2 is correct. They should listen for at least one consensus before rejoining consensus (or wait for 2x the consensus timeout, in case all consensus nodes are down)

Here's how to reproduce the scenario:
1) Send a new block to the network.
2) Immediately die, not persisting the block (as you only persist blocks you get from the network).
3) on restart, try to form a new consensus based on yo

[2018-06-22 04:33] Leondelcrypto commented on #193
neotracker does not track all the Nep 5 tokens !

[2018-06-22 04:35] Leondelcrypto commented on #272
I don't think NEO is dying ! You never know what is going on in the background !

[2018-06-22 04:50] mwherman2000 commented on #272
RE: You never know what is going on in the background !

Exactly @Leondelcrypto! ...that's exactly the primary problem we're talking about! ...in addition to the release processes discussion.

You couldn't have said it better.

[2018-06-22 09:40] yura-sutnuk opened #277 "test Neo and Gas"
i requested several test coin, created contract address from 2 public key (my own and 1 that i take by email), maked rebuild index but balance is still 0. I do something wrong?

[2018-06-22 09:42] jonatanblockchain commented on #277
neo-gui or neo-cli must be full sync

[2018-06-22 09:55] jonatanblockchain commented on #275
Now, with neo-cli 2.7.6 you can create multisigaddress.

[2018-06-22 10:01] yura-sutnuk commented on #277
![image](https://user-images.githubusercontent.com/32939180/41770931-42bda8e4-761c-11e8-85dd-f402320f329a.png)
the 2 number are the same so it looks like full sync

[2018-06-22 10:12] jonatanblockchain commented on #277
No, three number must be equal.

[2018-06-22 11:16] yura-sutnuk commented on #277
I downloaded archive chain.acc.test.zip, rename to chain.acc.zip and put into neo directory. The 2-d and 3-th number go up fast but first after rebuilding index go up slow (after one hour it is only 150000)

[2018-06-22 16:24] mwherman2000 commented on #272
@saktyskip

8. https://github.com/neo-project/proposals/pull/44#issuecomment-399482141
9. NEO Yellow Paper
10. NEO Specification

@erikzhang Are #9 and #10 the same set of documentation? ...or different? ...you have used both terms

[2018-06-22 17:55] igormcoelho opened #278 "Incentives for the user / developer to release storage"
In System Fees (http://docs.neo.org/en-us/sc/systemfees.html), Storage.Delete operation has 0.1 GAS cost.  That does not incentive Storage reduction. It should be free (or user must even profit with it!).
Is there any negative aspect on executing Storage.Delete that must be avoided?

The same should be applied to Storage.Put when used space is reduced (It should cost only over the increased space

[2018-06-22 18:22] igormcoelho opened #279 "Create a new type of "Storage Paid" contracts"
Currently, deploy cost is high, but user has the benefit of 10 GAS limit afterwards. NEP5 contracts are the most common type, and they are not supposed to hit this 10 GAS limit in any way. I believe a cheaper option  “Storage Paid” contract may be proposed (perhaps 200~300 GAS to deploy), also allowing Storage, but **the increasing Storage.Put costs cannot go in 10 GAS quota** (they must be payed)

[2018-06-22 18:40] vncoelho commented on #278
People could just delete the storage of others SC free... :dagger:  Sounds bad...
Ehauehauea
Just kidding. You have been always talking about that.
Since it is hard to reward that cases, I think that, at least, it should be free.

[2018-06-22 18:41] vncoelho commented on #279
Gud gud veri gud, it could motivated rising and emerging projects.

[2018-06-22 18:54] igormcoelho opened #280 "Migration costs should be cheaper (half price?)"
In my opinion, Migration is very useful for fixing bugs, so it should be cheaper than a regular deploy (but still expensive to not create frankstein lifelong contracts). Is it reasonable to propose half the price on migrations?

[2018-06-22 19:46] igormcoelho commented on #280
Do you have any thoughts on this @shargon ?

[2018-06-22 20:13] vncoelho commented on #280
I also agree, Igor.

It would be hard to really count with the goodwill of everyone.
On the other hand, Aigor, could have a rule, if Migrate with an AVM with lower size than the previous one.

Because the AVM could now be something very very complex and people just keep selling their previous SC ownerships. :dagger:
HAuehauehauhueaea

[2018-06-22 20:19] igormcoelho commented on #280
Yeah, that's true Vitor... but if it's a NEP5 for example, no one will trust a contract with a general migration scheme (it could be very easy for the owner to steal any kind of tokens). So, in general migration assumes trusts and risk, which can be smaller than the risk of bugs (the main intention of migration I believe).

[2018-06-22 20:29] vncoelho commented on #280
That is right.

There could be other mechanisms for thinking about these cases in which Migration was done improperly.

[2018-06-23 02:54] penuel-leo commented on #269
who can help me?😭

[2018-06-23 07:37] erikzhang commented on #280
The pricing structure will be adjusted in NEO 3.0, please wait for the new white paper.

[2018-06-23 07:38] erikzhang commented on #279
The pricing structure will be adjusted in NEO 3.0, please wait for the new white paper.

[2018-06-23 07:38] erikzhang commented on #278
The pricing structure will be adjusted in NEO 3.0, please wait for the new white paper.

[2018-06-23 07:40] erikzhang commented on #272
They are the same.

[2018-06-23 08:29] shargon commented on #269
I java i don't know, but in c# you can take this example, maybe is the same

https://github.com/phantasma-io/PhantasmaNeo/blob/c47d42a719e8ad7eac010f2210afad3826816a70/PhantasmaContract/Contract.cs#L721

[2018-06-23 08:31] shargon commented on #280
Could be cheaper, but like this

`var dif=(OldContractSize-NewContractSize)`

This ensure that you don't create a contract with few bytes, and then you use migration for fill the contract

[2018-06-23 10:10] shargon commented on #278
I like this idea, a lot of projects don't remove unuseful data

[2018-06-23 10:15] shargon opened #281 "Remove PublishTransaction"
I think that in the whole blockchain there is no `PublishTransaction` and it is obsolete, I think it could be removed from the code

[2018-06-23 10:42] #281 closed

[2018-06-23 10:42] shargon commented on #281
One found!

[2018-06-23 17:34] #277 closed

[2018-06-23 17:41] wy commented on #273
I am closing this issue as 2.7.6 seems to have fixed it and all is well.

Thanks

[2018-06-23 17:41] #273 closed

[2018-06-23 18:17] igormcoelho commented on #279
@erikzhang waiting forward to see the new WP.

[2018-06-23 21:09] mwherman2000 commented on #278
@everyone You need to realize that "deleted" NEO storage is never freed up, correct?

The transactions
that stored the original values and subsequent updates into NEO storage cannot be deleted ... it's a *blockchain*.

In fact, deleting storage takes up *more* physical space not less and, in effect, creates another free/cheaper way to store "dumb data" on the NEO blockchain.

Similarly, writing le

[2018-06-23 21:17] mwherman2000 commented on #279
@erikzhang Is this white paper the same as the yellow paper? ...or different?

[2018-06-23 21:37] igormcoelho commented on #278
@mwherman2000 there two ways of storing information: in the blockchain hash data or in Storage space. While blockchain data won't need to be carried out forever, the Storage needs to... so in my opinion (and Ethereum design agrees with that), Storage cleaning must be VERY incentived.

[2018-06-23 23:38] mwherman2000 commented on #278
There is no long lived/replicated Storage Space in the NEO architecture. The only long lived Storage Space is for Blocks of Tx of Opcodes.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Michael Herman (Parallelspace)
Sent: Saturday, June 23, 2018 7:34:00 PM
To: neo-project/neo; neo-project/neo
Cc: Mention
Subject: Re: [neo-project/neo] Storage.Delete must b

[2018-06-23 23:45] mwherman2000 commented on #278
It's irrelevant if it's only a facade.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Igor Machado Coelho <notifications@github.com>
Sent: Saturday, June 23, 2018 5:37:49 PM
To: neo-project/neo
Cc: Michael Herman (Parallelspace); Mention
Subject: Re: [neo-project/neo] Storage.Delete must be free (#278)

@mwherman2000<https://github.com/mwherman2000> there t

[2018-06-24 14:27] hal0x2328 commented on #279
I don't understand the reasoning for this proposal - @igormcoelho do you mean to suggest that if someone purchases a NEP-5 token on an exchange and then withdraws it to their wallet (which did not have any tokens before), they should be charged 1 GAS as a system fee on top of the exchange's withdrawal fee? I can't imagine any token project thinking this would be beneficial to their long-term token

[2018-06-24 15:39] igormcoelho commented on #279
hal I imagine they would really be charged, but at a fraction of a gas, not one gas (currently the cost is already a fraction of KB),because they are really spending storage space. But lets wait to see Neo 3.0, it may come with interesting stuff.

[2018-06-24 16:35] mwherman2000 commented on #279
@hal0x2328 @igormcoelho I agree with Hal.  If the vision for the NEO platform to be no more than a crypto/ICO platform, charge huge amounts for strorage.

On the otherhand, the NEO platform's Purpose, Goals, Objectives and Drivers are to be the #1 blockchain for distributed enterprise applications, storage costs have to be reduced to negligible ...or, at least, at or below AWS/Azure/Google cloud s

[2018-06-24 16:40] mwherman2000 commented on #279
RE: But lets wait to see Neo 3.0, it may come with interesting stuff.

Why wait?  ...if NEO is truly an open, transparent, community-based, collaboration-based project, why can't the open discussion continue now (through to resolution)?  #nomorewalledingateddiscussions

CC: @dahongfei @PeterLinX @lerider and @erikzhang

[2018-06-24 17:03] igormcoelho commented on #279
I didn't mean to stop the discussions Michael, this is an open community. Particularly, I have put my opinion, and I'm interested to see what Erik and Peter have to say, but they seem to be focused on writting a consistent document that will organize the missing pieces of the environment (what Erik is now calling Neo 3.0), that's why I will have to wait.
But I see your point, I don't mean NEO is o

[2018-06-25 07:06] #271 closed

[2018-06-25 07:07] erikzhang commented on #275
Duplicate of #270

[2018-06-25 07:07] #275 closed

[2018-06-25 07:09] #269 closed

[2018-06-25 07:12] erikzhang commented on #263
Base58 addresses for UI, scripthash for lower levels.

[2018-06-25 07:12] #263 closed

[2018-06-25 07:17] #261 closed

[2018-06-25 07:17] #257 closed

[2018-06-25 07:17] #255 closed

[2018-06-25 07:18] #250 closed

[2018-06-25 07:18] #249 closed

[2018-06-25 07:21] #196 closed

[2018-06-25 07:29] erikzhang opened #282 "Refactoring code for stability and TPS"

[2018-06-25 07:37] erikzhang opened #283 "New API for NeoContract: System.Runtime.Platform"
Gets the platform on which the contract is running.

For example:
- On Neo, it returns `"NEO"`.
- On Ontology, it returns `"Ontology"`.

[2018-06-25 07:40] erikzhang opened #284 "Callback APIs for NeoContract"
Create callback functions for smart contracts or SYSCALL, and allow other contracts to perform tasks through callback functions, which can work with iterators.

Several possible forms:
- `System.Runtime.CreateCallback(int offset, int paramCount, bool retValue)`
- `System.Callback.GetFromSyscall(string name)`
- `System.Callback.Invoke`

Use with enumerators and iterators:
- `Neo.Enumerator.Filter`

[2018-06-25 07:42] erikzhang opened #285 "Adjusting the economic model"
Adjusting the economic model for gas distribution.

Agreed:

- Allow gas to use the decimal part when being used as sys_fee

Contentious:

- A small increase in the supply of gas every year
- Distributing GAS only to the voting NEO
- Reward consensus nodes

[2018-06-25 08:01] erikzhang opened #286 "Adjusting the system pricing model"
- [x] Modify the contract storage pricing model
Now the price of the contract storage is fixed. We plan to modify it to refer to a number of incremental charging patterns as the storage capacity expands, encouraging the deletion of old data.

- [x] Significantly reduce the cost of smart contracts
Gas prices have been rising 100 times-fold since the old charges were made at a very low price. The ga

[2018-06-25 08:03] erikzhang opened #287 "Feature manifest and permission system for NeoContract"
# Abstract

When a smart contract is deployed, it must explicitly declare the features and permissions it will use. When it is running, it will be limited by its declared list of features and permissions, and cannot make any behavior beyond the scope of the list.

# Specification

## Design

### Manifest

A complete manifest is described by a json file:

[code]

### Groups

A group represents a se

[2018-06-25 08:05] erikzhang commented on #278
See #286

[2018-06-25 08:05] erikzhang commented on #279
See #286

[2018-06-25 08:05] erikzhang commented on #280
See #286

[2018-06-25 08:06] erikzhang commented on #115
See #282

[2018-06-25 09:10] deanpress commented on #286
Regarding the GAS fee for invocations; If every single invocation will end up costing GAS, NEO could lose an amount of use cases for its smart contracts (gaming/messaging/voting).

If holding a small amount of NEO is enough to make an invocation every block it will be less of a problem (given that GAS claims happen at least semi-automatically).

[2018-06-25 09:14] erikzhang commented on #286
Yes, this will be one of the basis for the new pricing model design.

[2018-06-25 09:20] shargon commented on #283
What should return this API? Will be a deterministic result?

[2018-06-25 11:05] anthdm commented on #286
I think its time to research the use of `state channels` on the NEO blockchain. Wich allows us to use real-time processing ofchain and only send one transaction for validation and confirmation.

[2018-06-25 12:56] canesin commented on #286
We still need to limit the size of free transactions on this setup, what about exploring instead of a budget on the number of free tx per block a maximum block size on the free portion.

[2018-06-25 14:15] jmseigneur commented on #279
Cancelling the free smart contract execution would be a major pricing change that would endanger the viability of projects that have planned to use NEO base on its initial pricing model. As @mwherman2000 underlines, small storage and light execution pricing should remain very low compared to other systems. For example, 10 first GAS free has been one reason that [Reputaction](https://medium.com/@re

[2018-06-25 14:32] lllwvlvwlll commented on #278
Delete should really only be incentivized where it is performant.  Conventionally, It is more efficient to clean storage only when it is needed due to the compute requirements and quality impacts associated with making changes.

Introducing free codes also has the risk of opening us to compute exploitation.

[2018-06-25 14:50] DaveOnBlocks commented on #286
Each point may be better split up into several issues to promote discussion on each one. I apologize for the length of this post.

**Overall**
How would this impact existing contracts? Seems like these changes could/will drastically hurt existing projects already deployed to the blockchain. Throwing out the existing model that people have put a lot of work into is a big determent to me and would t

[2018-06-25 14:54] hal0x2328 commented on #279
@jmseigneur You should add your comment to #286 for visibility

[2018-06-25 15:07] vncoelho commented on #286
@erikzhang, great step ahead, congratulations for the insights and efforts!
It will surely give more value to the Neo itself.

@canesin, nice suggestion, my friend. The portion of the block sounds good and flexible.
Maybe it should be interesting to have a greedy randomized heuristic for including some type of transactions first? It could balance time when it entered in the queue and some other cr

[2018-06-25 15:15] jmseigneur commented on #286
As @DaveOnBlocks mentioned above, cancelling the free smart contract execution would be a major pricing change that would endanger the viability of projects that have planned to use NEO base on its initial pricing model. As @mwherman2000 underlines, small storage and light execution pricing should remain very low compared to other systems. For example, 10 first GAS free has been one reason that [R

[2018-06-25 15:17] vncoelho commented on #287
If you saying, should be right...aheuahueaea :dagger:
I did not get it yet.

[2018-06-25 15:21] vncoelho commented on #284
I will call you back after I understand this...aehauheaea
Kidding.

This will be an useful tool for several applications, @igormcoelho.

[2018-06-25 15:23] vncoelho commented on #283
I think I got it.
If it is my private chain, returns "Babylon", for example.
And then, I, sporadically, publish some state of my blockchain in the Neo Original Public one.

[2018-06-25 15:38] igormcoelho commented on #286
@erikzhang congratulations for moving in this direction for a Neo 3.0 with improved pricing models.  The idea of having NEO asset to backup simple transactions is good, that will allow to "free" transactions continue to exist while paying with claimable GAS (is that correct?).
I believe 10 GAS limit has been the main motivation behind many projects (it's the core reason for our scichain.org projec

[2018-06-25 16:01] Ejhfast commented on #286
@erikzhang I'm really glad you are thinking about this. The high price of gas makes settlement logic very complicated for systems like NEX. It is hard to fit general purpose settlement logic into 10 free GAS, but we are forced to because otherwise the cost of a transaction is too expensive. Similarly, it would be unfortunate if a big system like NEX does not feed GAS back into the ecosystem becaus

[2018-06-25 17:32] erikzhang commented on #282
Soon we gonna come back to a compiling and working version there.

Can you make it merged after #288 ?

[2018-06-25 17:36] vncoelho commented on #282
Yes, with pleasure, should I already start to compile and try the refactoring or wait a little more?

[2018-06-25 17:47] erikzhang commented on #282
Please wait a little more.

[2018-06-25 17:59] vncoelho commented on #282
Take your time, @erikzhang. This refactoring sounds like done by 10 people. :dagger: A lot of nice work.

[2018-06-26 00:39] gubanotorious commented on #286
Glad to see this topic being discussed - it is highly relevant to real-world use and adoption of NEO.

Are there thoughts around how transactions would be prioritized in this scheme?

For example, would certain transactions or transaction types be prioritized above others for free confirmation, or is the thought more of a first come, first served basis?  If the latter,  how would large consumers b

[2018-06-26 01:11] igormcoelho commented on #279
@jmseigneur its better to discuss on the other thread. I may not have been very clear but Im the biggest defender of 10 gas policy, thats why I love Neo (besides tps). I'll prepare some slides to defend my point, storage only should be paid.

[2018-06-26 01:33] igormcoelho commented on #286
@Ejhfast  unfortunately I don't see how this will prevent storage attacks. It will indeed worsen the situation, because attacks will be more tempting to both overload storage and occupy the free transactions on the network.

@lllwvlvwlll, Tyler I don't see how free Storage.Delete could be exploited, because the storage is a finite resource on a contract, and the more "exploited", the better. Howev

[2018-06-26 03:00] igormcoelho commented on #287
This is genious one @erikzhang ! This solves the issue of hardcoding OWNER address and simplifies everything with extra security (I'm assuming scripthash 0xceab719b8baa2310f232ee0d277c061704541cfb is the only one allowed to invoke, right?). How will this be submitted to the network, together with the avm deploy? Could it be updated later with a call other than Migration?

[2018-06-26 03:05] igormcoelho commented on #284
How (which format) will these callbacks will be passed Erik, as raw opcodes?
In fact, it would be great to have some "Dive" function, to execute a given opcode list (that could just do that in a inception way :D). That could have many usages for metaprogramming... just wondering the format you are thinking on these callbacks :) the idea is very good!

[2018-06-26 03:08] igormcoelho commented on #283
Will Neo come with interchain communication using a similar resource Erik? This way one platform could declare its "trusted" buddies, and perform Neo opcodes "outside" in a trusted fashion.

[2018-06-26 03:09] igormcoelho commented on #285
This one I don't get the direction yet... any ideas brother @vncoelho?

[2018-06-26 03:10] #280 closed

[2018-06-26 03:11] igormcoelho commented on #278
@lllwvlvwlll Tyler, perhaps it's better to discuss in the other thread... this idea conflicts/adds up with all the others related to the new pricing model.

[2018-06-26 03:12] #279 closed

[2018-06-26 03:18] igormcoelho commented on #256
Perhaps a little late, but it's important to write this down for future visitors...
NEO assetid : `c56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b`
GAS assetid: `602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7`
Sometimes they appear reversed... please try to see if it works :)

[2018-06-26 04:12] erikzhang commented on #287
Yes, it should be updated later.

[2018-06-26 04:15] erikzhang commented on #287
Correct.

[2018-06-26 04:57] erikzhang commented on #286
You are right, the new design must fully consider the impact on the old contracts, as far as possible do not affect.

[2018-06-26 05:03] erikzhang commented on #286
Not in this operation. It depends on how much space has been used in the contract. For example, within 0~100m range, it costs 0.05gas/kb;100m~200m range, 0.1gas/kb;200m~300m range, 0.2gas/kb. (All values here are examples, not actual pricing) Simply, the price increases exponentially as the space used has grown.

[2018-06-26 05:34] erikzhang commented on #286
Now the network will accept `InvocationTransaction`s whose `Version==1` . When the new pricing model is used, you need to set the `Version` to 2. At this time, version 1 and 2 will both be accepted by the network, but after X blocks, version 1 of the transaction will not be accepted.

[2018-06-27 02:03] vncoelho commented on #285
A naice veri gud.
I think that is could be crossed in time, ma broda, not in terms of blocks. @lerider

If the generation is expected 8 GAS in terms of 15s it should be 0,54 per 1000ms.

In this sense, Ontology and other private blockchains could easily follow this formula and generate GAS accordingly. This would unify the price of gas across different blockchains ecosystems.

[2018-06-27 03:07] mwherman2000 opened #289 "Create an NEO Platform Economic Model"
A spreadsheet with a ~10 year forecast of quarter-by-quarter platform forecasts/projections.

Income / Capacity Planning

Make assumptions about NEO adoption by new dapps.  Consider using "t-shirt sizes" to categorize dapps into buckets (e.g. XS-AA, S-A, M-B, L-C, XL-D, XXL-DD, XXXL-E) based on monthly transaction volumes, month-over-month storage growth, etc.  Estimate monthly GAS fee collection

[2018-06-27 03:39] grishatataru commented on #195
So whats the next step?
How can we get this issue fixed?
Im having the same issue,my public NEO address has changed,when i log in using Ledger Nano i see 0 gas and 0 neo.
Showing UNSPENT in neo tracker
ANy help????
AVjDZ7VVz7foeqFmdW2R5okbjr1pTEmEBs

419 NEO

Sent to

AcWyPgfSVovTnE5rG6w3KNMCcoipjuDBxP
419 NEO

[2018-06-27 04:05] mwherman2000 opened #290 "CN GAS Escrow Accounts"
A portion of the GAS earn by a CN over a ~30-day rolling period should be held in escrow as a "performance bond".

Failure to meet whatever is decided as the SLA/performance metrics results in the forfeiture of the "performance bond" by the CN ...redistributed to??

[2018-06-27 06:35] guotie opened #291 "ContractTransaction和InvocationTransaction有什么区别"
如题

[2018-06-27 06:40] erikzhang commented on #290
The difficulty in this matter is how to determine whether the consensus node is offline or has a performance problem.

[2018-06-27 08:05] mwherman2000 opened #292 "Implement a Tx Peformance Monitoring Solution (preferably onchain)"
https://github.com/mwherman2000/serentitydapps/tree/master/SerentityDapp.Perfmon#design

[2018-06-27 08:06] mwherman2000 commented on #290
@erikzhang https://github.com/neo-project/neo/issues/292

[2018-06-27 08:14] mwherman2000 opened #293 "Implement a System Alerts and Notification Service (preferably on-chain)"
...for publishing certified (i.e. signed) scheduled system upgrades, forks, etc. etc.  This service is a very general concept ...for example, it might be used for announcing the schedule for an Election of Representatives to the NEO Board of Representatives (more news on this concept will be forthcoming from @toghrulmaharramov).

Potential design: https://github.com/mwherman2000/serentitydapps/tre

[2018-06-27 08:46] erikzhang commented on #292
What is it?

[2018-06-27 10:27] mwherman2000 opened #294 "What are the NEO Foundation/NGD's overarching purpose, goals, objectives & drivers for the NEO 3.0 Release? ...both business and technical"
To: @dahongfei, @PeterLinX, @lerider, @erikzhang:

What is the theme for the NEO 3.0 Release?

More specifically, what are NEO Foundation/NGD's overarching:
- purpose (business and technical),
- goals (business and technical),
- objectives (business and technical), and
- drivers (business and technical)

for the NEO 3.0 Release?

[2018-06-27 10:40] erikzhang commented on #294
What is business?

[2018-06-27 10:47] f27d commented on #193
@leondelcrypto this is not a relevant comment on this issue please raise a new issue with the neotracker GitHub repo pls

Thanks

[2018-06-27 11:33] f27d commented on #294
In the pursuit of being helpful here.
We can expand on business to mean economic and ecosystem:
- For example, is there expected to be an impact on existing businesses/orgs/projects that are using NEO as well as the community (developers and users) because of changes to NEO 3.0 that are intended (or unintended) as results of these changes

We assume NEO 3.0, which looks like it covers many things,

[2018-06-27 12:00] erikzhang commented on #294
I'm not the NGD guy. @PeterLinX

[2018-06-27 12:29] mwherman2000 commented on #294
I'm updated the title

[2018-06-27 15:12] hal0x2328 commented on #286
So there will be no minimum fee for a `Storage.Put` then? If I store 0.01 KB I only pay 0.0005 GAS for the call? Or is it 0.05 GAS + 0.05 GAS for each KB over the first KB?

[2018-06-27 15:13] mwherman2000 opened #295 "Incorporate the receipt and display of System Alerts and Notifications into the NEON wallet"
From a user experience perspective, incorporate the receipt and display of System Alerts and Notifications into the NEON wallet

Reference: [Implement a System Alerts and Notification Service (preferably on-chain)] (<https://github.com/neo-project/neo/issues/293>)

[2018-06-27 16:54] PeterLinX commented on #294
@mwherman2000
NGD is an execution organization of NEO Foundation, it mainly focus on basic infrastructure of NEO ecosystem. It's a non-profit organization, so the purpose, goals, objectives and drives are the same, which is to make NEO a better smart contract platform and to develop NEO ecosystem.

[2018-06-27 16:56] localhuman commented on #294
This is not really a forum for discussion of non-software related topics.

[2018-06-27 16:56] #294 closed

[2018-06-27 18:52] mwherman2000 commented on #294
These goals/objectives/drivers is what should be driving these software discussions but just like the NEP-5  discussion, the Gang of Zion is again shutting down another important discussion.

[2018-06-27 19:01] mwherman2000 commented on #289
Some of the inputs to this model should come from the NEO 3.0 Release' purpose/goals/objectives/drivers (https://github.com/neo-project/neo/issues/294) but that discussion was shutdown/shutout.

[2018-06-27 19:32] jonatanblockchain commented on #294
@localhuman NEO is a open community. Discussions if done with respect and education are welcome, In any case, IMO the person responsible for closing the discussion (on neo-project) is Erik or Peter. I suposse you have reached an agreement with the other members of the Coz Council before closing.

In the end if Michael starts this discussion it is because like everyone we are very proud of NEO and

[2018-06-27 19:55] mwherman2000 commented on #294
#nomorewalledingatedcommunities #nomorewalledingateddiscussions #nomorecensureship

[2018-06-27 19:59] mwherman2000 commented on #294
The answers to the questions are critically important inputs into The NEO 3.0 Economic Model (https://github.com/neo-project/neo/issues/289) until they were shutdown/shutout/censored by the Gang of Zion.

[2018-06-27 20:03] mwherman2000 commented on #294
@peterlinx @erikzhang Reopen the issue unless the NEO Foundation/NGD is also supporter of this style of censorship that has become a common practice of the Gang of Zion.

Cc: @dahngfei @lerider

[2018-06-27 23:21] mwherman2000 commented on #294
#RIP This isn't worth my personal time. Just like NEP-5.

[2018-06-27 23:23] #289 closed

[2018-06-27 23:23] #295 closed

[2018-06-28 08:49] erikzhang commented on #286
0.05gas

[2018-06-28 09:19] erikzhang commented on #294
The only thing the Neo Foundation does is spend money and make sure that it is spent in places that can enhance Neo ecosystem.
In this process, there are a lot of specific work to be done, and that is the responsibility of NGD. NGD is the executive body of the Neo Foundation.
Specifically to NEO 3.0, both the Neo Foundation and the NGD, their responsibilities are unchanged.
NEO is an open communit

[2018-06-29 11:00] decentralisedkev opened #296 "Adding Block Lock Time"
### **Problem**

- With the change in gas prices, one solution for cheaper and faster transactions are channels. A pre-requisite for having channels on a blockchain is to have time locked contracts. If time locked contracts are not employed, then a party could decide to not co-operate in the channel and the channel will be open indefinitely, unless a centralised service administrates.

- Currently

[2018-06-30 14:35] deanpress commented on #286
I remember talk about letting NEO holders vote for invocation/transaction fees. Is this still a consideration?

[2018-07-02 10:53] Hunghus commented on #138
I want to get public key. I tried using the "list key" command, I got them. However, I want to find ways to get them from the program not with the command.
Help me!!

[2018-07-03 05:04] wy commented on #296
+1 from me.

[2018-07-03 08:50] f27d commented on #296
Can the smart contract access that information through a call?

[2018-07-03 09:00] erikzhang commented on #296
You can get the current height of blockchain at runtime.

https://github.com/neo-project/neo/blob/35ff9a68010bdddc160840f222df13c3c46290f6/neo/SmartContract/StateReader.cs#L84

[2018-07-04 06:58] toghrulmaharramov commented on #296
I think a better solution would be to add a new transaction type for the lock time transactions. Adding lock time to old transactions types would mean that the majority of transactions are going waste 8 bytes. If we assume that we will hit a stable 1000 tps at some point in the future, roughly `8x1000x60x60x24x365=252,288,000,000 GB` are going to be wasted if you don't count the transactions which

[2018-07-04 07:15] toghrulmaharram opened #297 "Adding Voter Registration Period"
**Problem**
The currently proposed implementation forces the nodes to look through the transaction history of the NEO voted with to make sure that those NEO were not being double-voted with during the same voting period.

**Solution**
The problem could be circumvented with a modified voting transaction type and an introduction of a voter registration period. Assuming that the voting is going to be

[2018-07-04 11:56] Edgegasm commented on #297
I like it. Gives people plenty of time to register their votes for the next round, and ensures that nodes can easily exclude votes submitted past the deadline.

Question: Should we have a mechanism in place for snap elections?

[2018-07-04 22:39] toghrulmaharramov commented on #297
@Edgegasm Should be compatible with snap elections, though I'm not a big fan of holding snap elections in general.

[2018-07-05 01:12] vncoelho commented on #296
You two little devils around here, @decentralisedkev and @toghrulmaharramov. aheuaheauhuea

[2018-07-06 01:37] sctxm opened #298 "NEO2.7.5的源码放上来呀，捂着不发，是准备？"

[2018-07-06 01:40] sctxm opened #299 "The source code of NEO2.7.5 is put up. What do you plan to do if you don't cover it?"

[2018-07-06 06:04] erikzhang commented on #298
The latest version is 2.7.6, and you can get that version of the code in the master branch.

[2018-07-06 06:04] #298 closed

[2018-07-06 06:05] erikzhang commented on #299
Duplicate of #298

[2018-07-06 06:05] #299 closed

[2018-07-06 06:08] sctxm commented on #298
Thanks, I try again.

[2018-07-06 07:13] sctxm commented on #298
Hi. The EvaluationStack in Neo.SmartContract.ApplicationEngine is not defined. Unable to compile after downloading the source code!

[2018-07-07 09:04] toghrulmaharramov opened #300 "[NEO3] Adding a Fallback Consensus"
**Problem**

In the current implementation, a block is published as soon as the Speaker `p`'s proposal receives at least `n - f  [(n - 1)/3]` signatures from the Consensus Nodes in a certain timeframe. If not enough signatures are received during the aforementioned timeframe, a View Change `v` is required to elect a new Speaker via `p = h [block index] - v mod n [number of Consensus Nodes]` to pro

[2018-07-07 13:28] erikzhang opened #301 "Remove APPCALL and invoke contracts through SYSCALL"
Currently, the contract invocation is done through the appcall instruction (and the corresponding stack isolation instruction), and NeoVM will directly look for the target contract. This is very unreasonable for NeoVM, because the list of smart contracts on the blockchain should not be directly visible to NeoVM.
We need to create a new API to invoke contracts in a SYSCALL and discard the original

[2018-07-07 13:33] PeterLinX commented on #291
@guotie
ContractTx is designed to transfer global asset, InvocationTx is designed to transfer contract asset. Also, you can transfer global asset by using Invocation. More info please check the docs.(docs.neo.org)
ContractTx实现了全局资产的转账，InvocationTx实现了合约资产的转账，同时，你也可以使用InvocationTx实现全局资产的转账。更多信息请参考文档（docs.neo.org）

[2018-07-08 07:56] guotie commented on #291
thanks.

[2018-07-08 07:56] #291 closed

[2018-07-09 08:06] erikzhang opened #302 "Detach state persistence and block persistence"
Currently, state persistence occurs at the same time as the block is persisted, and it consumes more time and resources. This results in block relay and synchronization slowing.
If we separate state persistence from block persistence, the consensus node can quickly process transactions without waiting for state writes and smart contract execution.

[2018-07-09 08:49] decentralisedkev commented on #302
Currently, it is hard for light clients to get information on smart contract invocations from the block themselves. If a radix tree/patricia trie was implemented to save each of the invocation states in the block as another root, this problem would be solved. There would be no need to run an api server to get the information needed or run have a vm. For this to happen, the state persistence would

[2018-07-09 08:49] erikzhang opened #303 "Native Contract"
The native contract is not run in a virtual machine, it is a contract built into the block chain code. But they can expose their script hashes to other contracts so that other contracts can invoke them.

Each native contract contains only one instruction:
[code]
where `Neo.Native.XXX` is a SYSCALL that actually implements the functionality of this native contract.

The script hash of the native co

[2018-07-09 09:11] #114 closed

[2018-07-09 09:18] erikzhang opened #304 "New API for NeoContract: System.Account.IsStandard"
Determine if the specified account is a standard account.

A standard account means:
- A common signature verification account.
[code]
- A multiple signature account.
[code]

[2018-07-09 09:19] chenzhitong opened #305 "Can't use commands that need to open wallet via JSON-RPC"
Can't use commands that need to open wallet via JSON-RPC, like `getbalance`、`dumpprivkey`.
I guess because there is no value given to "wallet" in the following code.

https://github.com/neo-project/neo/blob/18be40a79585a41b19ac14cdb21d382576b5f9e6/neo/Network/RPC/RpcServer.cs#L35-L39

https://github.com/neo-project/neo/blob/18be40a79585a41b19ac14cdb21d382576b5f9e6/neo/NeoSystem.cs#L57-L61

[2018-07-09 09:28] erikzhang opened #306 "New Runtime APIs"
We need to add three new Runtime APIs:
- System.Runtime.GetEntryContract
- System.Runtime.GetCallingContract
- System.Runtime.GetExecutingContract

Consider that we have the following invocation chain:
[code]
where `A` is the `Script` of an `InvocationTransaction`, `B` and `C` are contracts that be invoked, `D1` and `D2` are two different methods from same contract `D`.

When we call the APIs abov

[2018-07-09 10:15] erikzhang opened #307 "New API for NeoContract: System.Runtime.GetInvocationCounter"
The invocation counter records the number of times each contract was invoked in current `InvocationTransaction`.

Consider that we have an `InvocationTransaction` with the following `Script`:
[code]

If we call `System.Runtime.GetInvocationCounter` in each contract, we will get:
- `1` from `APPCALL <A>`
- `1` from the first `APPCALL <B>`
- `2` from the second `APPCALL <B>`
- `1` from `APPCALL <C>`

[2018-07-09 10:22] erikzhang opened #308 "New API for NeoContract: System.Runtime.GetNotifications"
`System.Runtime.GetNotifications` receives a scripthash as an argument, and returns all notifications from that contract in current `InvocationTransaction`.

Consider that we have an `InvocationTransaction` with the following `Script`:
[code]

[2018-07-09 10:37] erikzhang opened #309 "Allows NeoVM to support global variables"
Currently, NeoVM is not supported for global variables. The following code will fail to compile:
[code]

This is because NeoVM is a stack based virtual machine, where there is no place to store global variables. This makes it difficult to compile smart contracts written in high-level languages.

To solve this problem, we need to add a global array for the virtual machine to store all the global va

[2018-07-09 10:48] erikzhang opened #310 "Exception handling for NeoContract"
neo-project/neo-vm#192

[2018-07-09 11:34] decentralisedkev commented on #304
One solution to this would be to have different prefixes for standard and multisig accounts.

Currently standard accounts and multi-sig have prefixes 0x17. If the prefix was also changed, it would make it easier for users to verify whether they were sending funds to a multi-sig or a standard account, as standard accounts would start with an A and multi-sig accounts would start with a 'N' for examp

[2018-07-09 11:47] f27d commented on #305
This works in neo-cli because of the extension

https://github.com/neo-project/neo-cli/blob/ed2e1a25be070c7fd9bc2998df3d6e1081b28b1e/neo-cli/Network/RPC/RpcServerWithWallet.cs
which extends Rpcserver.

[2018-07-09 11:50] f27d commented on #302
Decoupling state and block persistence sounds interesting.

It would also have the effect that transaction throughput would no longer equal smart contract or state change throughput - and you may have trouble with any SC's that require any time guarantees on execution (we could be on block 4,000,000 but the nodes are still working their way through block 3,995,000's SC execution.

How would you kn

[2018-07-09 12:28] daiduongtruong commented on #305
Ý ý như khi ở iii uh you go lj you going b please clarify
Hi I'm at bi in full g vpk

On Mon, Jul 9, 2018, 7:47 PM f27d <notifications@github.com> wrote:xplllew
it on GitHub
<https://github.com/neo-project/neo/issues/305#issuecomment-403452122>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/APbYh_2lT2zC7YZQ6lFW6_0hcFlCbEUJks5uE0LmgaJpZM4VHXCn>
.

[2018-07-09 12:48] erikzhang commented on #302
We can expose three interfaces:
- `header_height`
- `block_height`
- `state_height`

[2018-07-09 12:57] decentralisedkev commented on #302
Would this not make the network slower, as nodes would need to be up to date in terms of `state_height` and `block_height` to be able to validate the incoming blocks?

[2018-07-09 13:03] erikzhang commented on #302
Nodes don't need to wait for `state_height` to validate the imcoming blocks. They have enough information in headers to validate blocks.
But if they want to validate the incoming transactions, they need to wait for `state_height`.

[2018-07-09 13:29] decentralisedkev commented on #302
Yes you are right, I meant to say transactions.

I think some tests need to be done to see what the gap between `state_height` and `block_height` will roughly be under stressful conditions. Because if I am understanding correctly, it would mean that if node1 is at `state_height = 200` and node2 is at `state_height = 300` if I called getbalance from each node, I may get different values from node1

[2018-07-09 13:32] apisit commented on #304
I second the comment from @decentralisedkev. It would be great if we have a way to distinguish a single signature address and a multi-sig address just by looking at it. should this be another NEP?

[2018-07-09 13:40] decentralisedkev commented on #302
@f27d Yes that could be a workaround for clients connecting to a node. I think tests would need to be ran to verify that the increase in speed, is justifiable, and that there are no attack vectors, if for example 40% of the nodes are behind in `state_height`

[2018-07-09 14:21] erikzhang commented on #302
A node won't accept any transaction if `state_height != block_height || block_height != header_height`.

[2018-07-09 19:08] KapilMayekar opened #311 "Help! Issue with NEO-GUI wallet password and/or db3 file!"
Hello,

My Neo-Gui wallet ver. 2.0.6411.26926 refuses to acknowledge my wallet password. It throws up a “Password Incorrect” error - even though I know for sure the password is correct. (I have 100% never changed the password since first use.)

**Unfortunately, I had not backed-up the private key, and had not made a copy of the db3 file!** Mercy!

The Neo-Gui wallet was installed on an Acer (Spin

[2018-07-10 05:40] anthdm commented on #309
In the `neo-go` compiler I handle global variables by passing them in the scope of each function. [link to the code](https://github.com/CityOfZion/neo-go/blob/master/pkg/vm/compiler/codegen.go#L188). Should this not be handled on compiler level?

[2018-07-10 07:00] erikzhang commented on #309
This is a solution that handles global variables through the compiler. But if you do, it's hard to support the callback features we're going to add in the future.

[2018-07-10 07:02] erikzhang commented on #115
This needs to be researched to determine. I haven't got a good understanding of hbbft.

[2018-07-10 07:04] lock9 opened #312 "Question - Is the multisign contract in the genesis block correct?"
Hello,
I'm reviewing the GenesisBlock for neo-sharp and I noticed that the current genesis method is using this:
[code]

I would like to understand if this is actually correct, or if the correct implementation shouldn't me "2/3 + 1".
For 4 standby validators, the result is the same:
(2 * 4 / 3)  + 1 = 3
(4 / 2)  + 1 = 3

I'm planning to run a NEO private chain, so I just want to be sure that this

[2018-07-10 12:13] deanpress commented on #285
If the economic model is moving to `proof of x` + infinite GAS supply, wouldn't it become more similar to Ethereum Casper except there are more complexities due to dual-token model (which was not designed for this model) and centrally decided upon fee structure?

One of NEO's main attracting powers was always that if decentralization would be introduced, consensus nodes can be run by partners with

[2018-07-10 12:20] AshRolls commented on #282
Stability requires the code for neo 3.0 to have comprehensive unit test coverage, integration tests, and a defined release pipeline process.

[2018-07-10 14:41] ThomasLobker commented on #301
In contrast to NEP-5, system assets are UTXO based. In my opinion UTXO is more scalable and more robust than the NEP-5 account/balance model and we should definitely keep this.

[2018-07-10 15:13] erikzhang commented on #285
In the dual-token model, if neo enters a blackhole address, it causes all of the gas that this part of neo gets lost, and the process, like a real blackhole, will eventually devour all the gas.

[2018-07-10 15:24] lerider commented on #285
**A small increase in the supply of gas every year**
**Reward consensus nodes**
I strongly oppose these. The economic model is built upon circulation in a closed system, aligning interest so that both users and CN's have the same motives. Allowing increase in GAS based on for example reward to CN's nodes will create a system where CN's main interest is of economic gain and not for the benefit of u